.container
  .student_bx.text-center
    %h6.title_4= I18n.t 'auth.confirm.link'
    %hr.rule250
    .col-xs-12.col-md-6.col-md-offset-3
      = form_for resource, as: resource_name, url: confirmation_path(resource_name), method: :post, html: { class: 'text-left' } do |f|
        = f.text_field :email, required: true, disabled: (user_signed_in? and resource.email.present?)
        %br/
        = f.button :submit, I18n.t('auth.confirm.submit'), class: 'btn btn-primary btn-block'

