<p>Hello Champ!</p>

<p><%= "We noticed that you selected your team but didnt join any league. We have added you to free league for #{@match.team_names} match starting on #{@match.human_start_time}." %></p>

<p>Dont forget to track your team rank and other challengers by just clicking leaderboard button below.</p>

<p style="text-align: center;"><%= link_to 'Check out Leaderboard', "https://fantoss.com/matches/#{ @match.id }/viewteam", style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>
