<h2>Hello <%= @user.display_name %>!</h2>

<p><%= "This is to notify that your league #{@league.name} for #{@match.team_names} match has got cancelled because the match either got cancelled or has ended using D/L method." %></p>

<p><%= "Since, it would be unfair for different users, because a few(or all) of their batsmen might not have got fair chance to play their complete innings." %></p>

<p><%= "So, we have refunded the entry fee to your wallet." %></p>
<p><%= "Don't worry. We have plenty of other matches to play in." %></p>

<p>You can checkout other challengers and your team rank by just clicking leaderboard button below.</p>

<p style="text-align: center;"><%= link_to 'Check out Leaderboard', "https://fantoss.com/matches/#{ @match.id }/viewteam", style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>
