<h2>Hello <%= @user.display_name %>!</h2>

<% if @league.prize_money==0 %>
  <p><%= "Hello, it's a tie for you and you are a equal winner for #{@match.team_names} match. Had Fun? Wouldn't it be more exciting if you played for real cash. Check out more upcoming matches to play." %></p>
<% else %>
  <p><%= "Hello, it's a tie for you and you are a equal winner for #{@match.team_names} match. You will get Rs. #{@league.entry_fee} back as tie refund for #{@match.team_names} match." %></p>

  <p><%= "The prize money will be credited to your paytm wallet within 1 day. We hope you carry on playing more and winning more." %></p>

  <p><%= "Note: The prize will be transferred to the mobile number paytm wallet you have registered with us." %></p>
<% end %>

<p> Checkout your team rank and other challengers standings. Also, Dont forget to tell your friends about it.</p>

<p style="text-align: center;"><%= link_to 'Check out Leaderboard', "https://fantoss.com/matches/#{ @match.id }/viewteam", style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>
