<!-- Latest compiled and minified CSS Bootstrap -->
<script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-1.7.2.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">

  <h2>Entity: Squads</h2>

  <table class="table table-responsive table-striped">
    <th>Actions</th>
    <% @squads.first.attributes.each do |squad_detail_key, squad_detail_value| %>
      <th><%= squad_detail_key %></th>
    <% end %>


    <% @squads.each do |squad| %>
      <tr>
        <td><%= link_to 'Show squad', '#' %></td>
        <% squad.attributes.each do |squad_detail_key, squad_detail_value| %>
          <td><%= squad_detail_value %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
