<!-- Latest compiled and minified CSS Bootstrap -->
<script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-1.7.2.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">

  <h2>Entity: Seasons</h2>

  <table class="table table-responsive table-striped">
    <% @seasons['response']['items'].first.each do |season_detail_key, season_detail_value| %>
      <th><%= season_detail_key %></th>
    <% end %>
    <th>Actions</th>

    <% @seasons['response']['items'].each do |season_details| %>
      <tr>
        <% season_details.each do |season_detail_key, season_detail_value| %>
          <td><%= season_detail_value %></td>
        <% end %>
        <td><%= link_to 'Show Competitions', seasons_competitions_admin_entity_api_provider_index_path(sid: season_details['sid']) %></td>
      </tr>
    <% end %>
  </table>

</div>
