<!-- Latest compiled and minified CSS Bootstrap -->
<script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-1.7.2.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">

  <h2>Entity: Competitions</h2>

  <table class="table table-responsive table-striped">
    <th>Actions</th>
    <% @competitions.first.attributes.each do |competition_detail_key, competition_detail_value| %>
      <th><%= competition_detail_key %></th>
    <% end %>


    <% @competitions.each do |competition| %>
      <tr>
        <td><%= link_to 'Show Competition', competition_show_admin_entity_api_provider_index_path(cid: competition.cid) %></td>
        <% competition.attributes.each do |competition_detail_key, competition_detail_value| %>
          <td><%= competition_detail_value %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
