.card 
  = simple_form_for [@match, @league, @ut] do |f|
    - if @ut.errors.full_messages.present?
      - @ut.errors.full_messages.each do |msg|
        = render 'layouts/messages', msg: msg, name: 'danger'
    - @league.contest.questions_hash.present? && @league.contest.questions_hash.each do |question|
      - question = question.symbolize_keys
      = render 'league/question_type' , q: question, ans_type: @league.contest.answer_type, f: f
      / = logger.info question.to_yaml
    = f.input :match_id,  :as => :hidden, :input_html => { :value => @match.id }
    = f.input :league_id, :as => :hidden, :input_html => { :value => @league.id }
    / = f.input :user_id,  :as => :hidden, :input_html => { :value => current_user.id }
    
    .col-md-4.col-md-offset-4
      = f.button :submit, class: 'btn btn-lg btn-primary'