- if @league.contest.answer_type=='over'
  .card.width90
    %h2.tournament-heading
      GAME QUESTION
      %p.small_content Select 10 overs out of total of 100 overs that will get the most runs in this match.
  .card.width90
    %p.small_content ENTRY FEE/TYPE
    %div.small_content 
      FEE&nbsp;
      %div.rupee_img
      %span= @league.entry_fee
      \/ Multiple User Entry is allowed.
  .card.width90
    %p.small_content SCORE CALCULATION METHOD
    %ul.small_content.textleft
      %li.item Total Runs scored in all overs that you select will be added up to decide the rank
      %li.item If you got a maximum score over then value(runs scored) of that over will be doubled and added to rest

  .card.width90
    %p.small_content PRIZE DETAILS
    %ul.small_content.textleft
      %li.item Total 4 winners
      %li.item First   Rank  : INR 2500 
      %li.item Second  Rank  : INR 2000 
      %li.item Third   Rank  : INR 1500 
      %li.item Fourth  Rank  : INR 1000
      %li.item Note: If there are less than required users playing this league then entry fees will be refunded back

- if @league.contest.answer_type=='batsman'
  .card.width90
    %h5.small_content CONTEST QUESTION
    %ul.small_content.textleft
      %li.item select five batsman that will score the most runs
      %li.item select one batsman who will score maximum out of the five batsman

  .card.width90
    %h5.small_content SCORE CALCULATION METHOD
    %ul.small_content.textleft
      %li.item Total Runs scored by selected batsman in the match will be added up to decide the rank.
      %li.item If you have selected a maximum run scorer, then value(runs scored) of that player will be doubled and added to your points.

  .card.width90
    %h5.small_content PRIZE DETAILS
    %ul.small_content.textleft
      %li.item Total 2 winners
      %li.item First   Rank  : INR 150
      %li.item Second  Rank  : INR 100
      %li.item Note: If there are less than required users playing this league then entry fees will be refunded back

  .card.width90
    %h5.small_content RESULTS/WINNERS
    %ul.small_content.textleft
      %li.item All the winners and each league player will be informed by email/phone
      %li.item All the cash prize winners will be credited the amount in their accounts within 2-3 working days.
       

/ Score calculations : 
/ total_user_score : p1 + p2 + p3 + p4 + p5 + max scorer * 2 + min_scorer * 1.5 
/ rank : will be calculated for 20 people

- if @league.contest.answer_type=='bowler'
  .card.width90
    %h5.small_content CONTEST QUESTION
    %ol.small_content.textleft
      %li.item Select 5 bowlers that will take the most wickets
      %li.item Select one bowler who will have the maximum wickets out of five selected

  .card.width90
    %h5.small_content SCORE CALCULATION METHOD
    %ul.small_content.textleft
      %li.item Total wickets taken by your selected bowlers will be added up to decide the Rank
      %li.item If you have selected maximum wicket bowler out of top 5 wicket taker(s), then value(wickets taken) of that bowler will be doubled and added to Rest.
      %li.item Note: There can be multiple maximum wicket taker in a match, In that case all of maximum wicket takers will be considered.
      / total_user_score : o1 + o2 + o3 + max wickets taken by bowler * 2 + min wickets taken by bowler * 1.5

  .card.width90
    %h5.small_content PRIZE DETAILS
    %ul.small_content.textleft
    %ul.small_content.textleft
      %li.item Total 2 winners
      %li.item First   Rank  : INR 150
      %li.item Second  Rank  : INR 100
      %li.item Note: If there are less than required users playing this league then entry fees will be refunded back

  .card.width90
    %h5.small_content RESULTS/WINNERS
    %ul.small_content.textleft
      %li.item All the winners and each league player will be informed by email/phone
      %li.item All the cash prize winners will be credited the amount in their accounts within 2-3 working days.
       

%br/
%br/

- if !user_signed_in?
  .col-md-4.col-md-offset-4
    %a.btn.btn-primary{ href: new_user_session_path }
      %i.ion-person 
      &nbsp;
      Login OR Signup to Continue
      &nbsp;
      %i.ion-arrow-right-c
- else
  .col-md-4.col-md-offset-4
    %a.btn.btn-info.btn-block.pull-right{ href: match_league_user_teams_path(@match, @league), "data-no-turbolink" => true }
      %i.ion-person 
      &nbsp;
      - if get_ut(@match.id,@league.id)
        EDIT YOUR TEAM
      - else
        ADD YOUR TEAM
      &nbsp;
      %i.ion-arrow-right-c


%br/
%br/
%br/
%br/