.fantoss-body-content.has-white-bg
  %aside.top-page-heading
    = @match.team_names
    %br
  .text-center.data-countdown{"data-countdown" => "#{@match.match_start_time}", style: 'background:#f8f8f8;padding:1em;'}
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-3.mdl-card.mdl-cell.mdl-cell--12-col.step-section
      - if @user_team.can_join_league?
        .team-title-text
          2. SELECT YOUR LEAGUE
          %button.toggle-button.mdl-button.mdl-js-button.mdl-button--fab{"data-upgraded" => ",MaterialButton"}
            %i.material-icons.close-icon touch_app
        %section.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect.cmn-step-block
          = render 'league/league_set', ut: @user_team, leagues_created: @leagues_created
      - else
        - lg = @user_team.league
        .team-title-text
          CONTEST JOINED ALREADY
          %button.toggle-button.mdl-button.mdl-js-button.mdl-button--fab{"data-upgraded" => ",MaterialButton"}
            %i.material-icons check
        %section.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect.cmn-step-block
          %article.text-center.md-row.mdl-grid
            .mdl-cell.mdl-cell--12-col.mdl-cell--4-col-tablet.fan-mobile-full-card
              .challenge-friend-slogan.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp.uppercase-none.text-left
                %p= "#{lg.limit} members"
                = "#{lg.limit/2} winner(s)"
                %a{:href => match_url(@match.id)}
                  = "Leaderboard"
                  %i.material-icons arrow_forward
                .mdl-grid.mdl-grid--no-spacing.palying-user-row
                  .palying-user-col
                    - @match.user_playing_imgs.each do |img_url|
                      %span.player-circle= image_tag img_url
                  .palying-user-col= "#{@match.user_teams.count + @match.id + @match.default_fake_count} people also playing #{lg.limit} members contest"
