.live-match-page
  .fantoss-body-content
    .fantoss-card-container.mdl-grid
      .top-page-heading.mdl-cell.mdl-cell--12-col
        Challenge Invite
        %a.how-to-play-link.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp Rules
      %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.step-section
        = render 'layouts/match_header', m: @league.match

    .mdl-card.mdl-cell.mdl-cell--12-col.has-white-bg{style: 'background:#fff;'}
      %article.team-select-container
        .team-title-text{style: 'font-size:14px;line-height:18px;'}
          Hi there,
          %br/
          You are invited by your friend to join this league challenge. If you are new to this, here is how to play and participate in this league challenge.
          %ol
            %li Sign up/ Login with Facebook, if not.
            %li Click "JOIN THIS LEAGUE" button after login/signup
            %li Create your user team for this match
            %li Pay the entry fee, incase it applies.
            %li Voila! You are joined to the league.
          Hurry, limited spots may be left or the match will close soon.
      .mdl-grid
        .mdl-cell.mdl-cell--10-col.mdl-cell--4-col-tablet.fan-mobile-full-card{style: 'margin: 0 auto;'}
          %h5.text-center League Details:
          .challenge-friend-slogan.mdl-button.mdl-shadow--3dp.uppercase-none.text-left{style: 'color:#297FB9;'}
            %p= "#{@league.name} League"
            %br/
            .mdl-grid.mdl-grid--no-spacing
              .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet
                %small Details:
                %p
                  %span= "#{@league.limit} members;"
                  &nbsp;
                  %span= "#{@league.limit/2} winner(s)"
                - if (@league.entry_fee==0)
                  %p Win Skill
                - else
                  %p
                    Prize Amount:
                    %span= "Rs. #{@league.prize_money} "
                    %br/
                    Entry fee:
                    %span= " Rs. #{@league.entry_fee}"
              .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet
                %small Member Info:
                %p
                  = "#{@league.user_teams_count}/#{@league.limit} teams joined"
                  %br/
                  = "#{@league.spots_left} spots left"
                .mdl-grid.mdl-grid--no-spacing.palying-user-row
                  .palying-user-col
                    - @league.users.each do |usr|
                      %span.player-circle= image_tag usr.image_url

        - if current_user
          %article.mdl-cell.mdl-cell--12-col.mdl-card.congo-palying-card
            .mdl-card__actions.text-center
              .col-md-4.col-xs-6
                %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp{:href => new_match_contest_user_team_path(match_id: @league.match_id, contest_id: Contest::TOP_5_CONTEST, ut_token: @user_transaction.token)}
                  = "JOIN THIS LEAGUE"
                  %i.material-icons arrow_forward
        - else
          .how-to-play-section.mdl-cell--12-col.text-center
            = render 'authentications/providers', flow: :login, referring_user: @referring_user.try(:id), icons: true, color: true
        %br/
        %small *All the prize money will be credited to your PAYTM wallet within one day.

