<script src="http://connect.facebook.net/en_US/all.js"></script>
<div class="container">
  <div class="student_bx">
    <h4>Select Facebook Friends</h4>
    <%= form_tag invite_friends_match_contest_user_team_league_index_path(user_team_id: @user_team.id), id: "invitable_friend_form", class: 'form-horizontal', method: :put, 'data-app-id' => Rails.application.config.settings.env["AUTH_FACEBOOK_KEY"] do %>
      <table class="table table-stripped table-hover" id="invitable_friend">
        <thead>
          <tr>
            <th></th>
            <th>Image</th>
            <th>Name</th>
          </tr>
          <% @invitable_friends.each do |friend| %>
            <tr>
              <td><%= check_box_tag "invitable_friend[]", friend["id"], nil, class: 'form-control' %></td>
              <td><%= image_tag friend["picture"]["data"]["url"], style: 'border:1px solid #BFD6D8;' %></td>
              <td><%= friend["name"] %></td>
            </tr>
          <% end %>
        </thead>
      </table>
      <%= hidden_field_tag :request_id %>
      <%= hidden_field_tag :request_to %>
      <%= submit_tag 'Invite', class: 'pull-right' %>
    <% end %>
  </div>
</div>
