<% if @user.referred_by %>
  <h2>Congratulations <%= @user.display_name %>!</h2>

  <p>You’re now a member of fantoss. As a welcome gift, here is <strong>Rs. <%= ApplicationYML['referral_credit'] %>/-</strong> from Team fantoss:
    <br>

  <p style="text-align: center;"><a href="https://goo.gl/Uqarbh" style="background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;">Click the Link to accept <strong>Rs. <%= ApplicationYML['referral_credit'] %>/-</strong></a> in your fantoss Wallet.</p>

  <p>Join hundreds of members and be off the field khiladi. Create your team and win. Some of the power features that fantoss:</p>
  <ul>
    <li> Matches from across the globe.</li>
    <li> Make your team within five minutes.</li>
    <li> Safe and secure payments powered by PayTM.</li>
    <li> Cash prizes deposited directly to PayTM wallet.</li>
  </ul>

  <p><strong>KHELO. JEETO. KAMAO</strong></p>
  <p><strong><a href="https://goo.gl/Uqarbh" style="background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;">GO TO fantoss NOW</a></strong>


<% else %>
  <h2>Congratulations <%= @user.display_name %>!</h2>

  <p>You’re now a member of fantoss. As a welcome gift, here is <strong>Rs. <%= ApplicationYML['welcome_bonus'] %>/-</strong> from Team fantoss:
    <br>

  <p style="text-align: center;"><a href="https://goo.gl/Uqarbh" style="background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;">Click the Link to accept <strong>Rs. <%= ApplicationYML['welcome_bonus'] %>/-</strong></a> in your fantoss Wallet.</p>

  <p>Join hundreds of members and be off the field khiladi. Create your team and win. Some of the power features that fantoss:</p>
  <ul>
    <li> Matches from across the globe.</li>
    <li> Make your team within five minutes.</li>
    <li> Safe and secure payments powered by PayTM.</li>
    <li> Cash prizes deposited directly to PayTM wallet.</li>
  </ul>

  <p><strong>KHELO. JEETO. KAMAO</strong></p>
  <p style="text-align: center;"><strong><a href="https://goo.gl/Uqarbh" style="background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;">GO TO fantoss NOW</a></strong>


<% end %>
