= form_for [@match, @contest, @user_team], html: { id: 'player_form' } do |f|
  .mdl-tabs__tab-bar.justify-tabs
    %a.mdl-tabs__tab.is-active{:href => "#batsmen-panel"}
      %span.fantoss-icon.bastman-icon>
      Select your team
    %a.fake-tabs.next-batsman-table-btn{:href => "javaScript:"}
      %span.fantoss-icon.bowler-icon>
      Pick best 2 players
    %a.mdl-tabs__tab{:href => "#batsmen-next-panel"}
      %span.fantoss-icon.bowler-icon>
      Pick best 2 players

  #batsmen-panel.mdl-tabs__panel.is-active
    .batsman-table-first
      %table.mdl-data-table.mdl-data-table--selectable.table-full.team-select-table.batsman-table.first-show-table{:cellspacing => "0", :cllpadding => "0"}
        %tbody
          - @players.decorate.each do |player|
            - is_captain = (player.object.id==@user_team.captain_id)
            - is_captain1 = (player.object.id==@user_team.captain_id1)
            - ticked = player.object.id.in?(@user_team.players.collect(&:id))
            - cc = ( ticked ? "is-selected" : "" )
            - cc1 = ( ticked ? "helping-row" : "" )
            - player_stats = player.stats(@match.mtype)
            - mtype = @match.mtype.upcase
            %tr.item-row.white-row{class: "#{cc} #{cc1}"}
              %td
                %span.player-circle
                  %img{:src => "#{player.thumb}"}/
              %td
                %strong= player.name
                %br/
                = player.category_with_details

              %td
                %label.checkbox-label
                  = check_box_tag 'user_team[player_ids][]', player.object.id, ticked, data: { type: 'player', id: player.object.id, captain: is_captain , captain1: is_captain1 }, class: 'fan-check-box'
                  / = check_box_tag("kennel[handler_ids][]", id, id.in?(@kennel.handlers.collect(&:id)) %>

                  / %input{:type => "checkbox"}/
                  %span.check-box-helper
                    %i.material-icons.check-icon check

    .mdl-card__actions.next-screen-block
      %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp.uppercase-none.auto-select-btn Auto Select Batsman
      %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp.uppercase-none.next-batsman-table-btn{"data-active" => "#batsmen-panel", "data-next" => "#batsmen-next-panel"} Next
  #batsmen-next-panel.mdl-tabs__panel
    .batsman-table-next
      %table.mdl-data-table.mdl-data-table--selectable.table-full.team-select-table{:cellspacing => "0", :cllpadding => "0"}
        %tbody
    .mdl-card__actions.next-screen-block
      %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp.uppercase-none{:id=>"select-top-batsman"} SAVE
      / = f.submit 'NEXT' , class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-shadow--3dp uppercase-none', html: { id: "select-top-batsman" }
  = f.hidden_field :captain_id, id: 'user_captain_id'
  = f.hidden_field :captain_id1, id: 'user_captain_id1'
  = f.hidden_field :ut_token, value: params[:ut_token]


= headjs_include_tag 'humane'
= headjs_include_tag 'user/user_team_form'

/ - content_for :javascript do
