.fantoss-body-content.has-white-bg
  %aside.top-page-heading.uppercase{ style: 'font-size: 14px;'}
    = @match.team_names
    / %a.clear-icon
    /   %i.material-icons.dp36 clear
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-1.mdl-card.mdl-cell.mdl-cell--12-col.step-section
      %section.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect.cmn-step-block
        = render 'n'


/ - content_for :javascript do
/   = headjs_include_tag 'humane'
/   = headjs_include_tag 'user/'
