.container
  .student_bx
    %h3 User Teams
    = link_to 'Create New', new_match_contest_user_team_path(match_id: @match, contest_id: @contest), class: "pull-right btn btn-sm btn-primary" unless @match.starts_within_one_hour?

    %div
      %table.table.table-striped.table-hover
        %thead
          %th Id
          %th League
          %th.align-right Action
        - @user_teams.each do |ut|
          %tr
            %td= ut.id
            %td= ut.league.try(:name)
            %td.align-right
              = link_to 'Edit', edit_match_contest_user_team_path(id: ut) if ut.allow_edit?
              |
              = link_to 'Select League', match_contest_user_team_league_index_path(user_team_id: ut) if ut.can_join_league?
