.fantoss-body-content.has-white-bg
  %aside.top-page-heading.uppercase{ style: 'font-size: 14px;'}
    = @match.team_names
    / %a.clear-icon
    /   %i.material-icons.dp36 clear
  - if @user_team.errors.present?
    %aside.top-page-heading.uppercase{ style: 'font-size: 14px;'}
      - @user_team.errors.full_messages.each do |msg|
        %p{style: 'color: #F44336;'}= msg

  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-1.mdl-card.mdl-cell.mdl-cell--12-col.step-section
      %section.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect.cmn-step-block
        = render 'n'


