/ # pay
.container
  .student_bx

    = render 'layouts/question_header', m: @match , l: @league

    - if @ut.transaction_status=='SUCCESS'
      = render 'layouts/sub_header' , msg: "Congratulations! Your have joined the league. You can also change your answers upto 1 hour before the match stats"
    - if @ut.transaction_status=='PENDING'
      %a.bar.bar-standard.bar-footer{ href: @ut.payment_url, data: { ignore: 'push'} }
        CONTINUE TO PAY
      = render 'layouts/sub_header' , msg: "Kindly Proceed to Pay and join the league. Your Payment Status is PENDING"

