%p{style:'font-size:14px;width:100%;text-align:center;'} Contest details :
%table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
  %tr
    %td.half
      / = "#{ENV['MAIL_HOST']}#{m.home_team.flag_path}"
      = image_tag @match.home_team.flag_path, height: 80, width: 80
      / %img{:alt => "paytm", :border => "0", :src => asset_url(@match.home_team.flag_path)}
      %br/
      = @match.home_team.name
    %td.half
      = image_tag @match.away_team.flag_path, height: 80, width: 80
      / %img{:alt => "paytm", :border => "0", :src => asset_url(@match.away_team.flag_path)}
      %br/
      = @match.away_team.name
  %tr
    %td.half
      %span.quote Entry fees / Prize money
      %br/
      %strong= "INR #{@league.entry_fee} / INR #{@league.prize_money}"
    %td.half
      %span.quote Total members / winner(s)
      %br/
      %strong= "#{@league.limit} / #{@league.limit/2}"
