!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %title fantoss mailer
    = stylesheet_link_tag 'emails/inline2'
    / :css
    /   #{Rails.application.assets.find_asset('emails/inline2').to_s.html_safe}
    /[if mso]
      <style>
      * {
      font-family: sans-serif !important;
      }
      </style>
    / [if !mso]><!
    :css
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:700,400", :rel => "stylesheet", :type => "text/css"}/
    / <![endif]
  %body{:bgcolor => "#ecf0f1", :height => "100%", :style => "Margin: 0;", :width => "100%"}
    %table{:bgcolor => "#ecf0f1", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "border-collapse:collapse;", :width => "100%"}
      %tr
        %td{:valign => "top"}
          %center{:style => "width: 100%;"}
            %div{:style => "max-width: 600px;"}
              /[if (gte mso 9)|(IE)]
                <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                <tr>
                <td>
              / Email Header : BEGIN
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
                %tr
                  %td{:style => "padding: 20px 0; text-align: center"}
                    = image_tag "main-logo.png", alt: 'fantoss', border: 0, width: 150
                    / %img{:alt => "fantoss", :border => "0", :src => asset_url('main-logo.png'), :width => "150"}
              / Email Header : END
              / Email Body : BEGIN
              %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
                / 1 Column Text : BEGIN
                - if content_for? :title
                  %tr
                    %td
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td.heading
                            = yield :title

                - if content_for? :intro_text
                  %tr
                    %td
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td.text-block{style: 'padding-top:'}
                            = yield :intro_text

                - if content_for? :center_image
                  %tr
                    %td.text-block
                      = yield :center_image

                - if content_for? :more_details
                  %tr
                    %td.text-block
                      = yield :more_details

                - if content_for? :league_block
                  %tr
                    %td.text-block
                      / = yield :league_block
                      = render 'layouts/emails/league_block'

                - if content_for? :action_button
                  %tr
                    %td.text-block

                      - if content_for? :pre_action_button_text
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td.text-block
                              = yield :pre_action_button_text

                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "Margin: auto;"}
                        %tr
                          %td.button-td
                            = yield :action_button

                %tr
                  %td
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr
                        %td.signature-block
                          %br/
                          Keep playing!
                          %br
                          Team fantoss
                          %br/
                          %br/
                          %span.quote
                            "Enjoy the Game and Chase your dreams. Dreams do come true. "
                            %br/
                            \- Sachin Tendulkar
                          %br/
                          %br/
              / / / / / / / / / / / / / / / / / / / / / / / / / / / /
              / Footer starts here
              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 680px;", :width => "100%"}
                %tr
                  %td{:style => "padding: 40px 10px;width: 50%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: left; color: #888888;"}
                    100% Safe and Secure
                    %br
                    %br
                    / = image_tag "paytm-logo.png", alt: 'paytm', border: 0
                    %img{:alt => "paytm", :border => "0", :src => asset_url('paytm-logo.png')}
                  %td{:style => "padding: 40px 10px;width: 50%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: right; color: #888888;"}
                    play@fantoss.com
                    %br
                    %span.mobile-link--footer DLF phase-3, Gurgaon, HR, 122010 India
                    %br
                    %br
                    / %unsubscribe{:style => "color:#888888; text-decoration:underline;"} unsubscribe
              / Email Footer : END
              /[if (gte mso 9)|(IE)]
                </td>
                </tr>
                </table>
