- username = authentication.username_for_display or authentication.provider_name
- return_to ||= nil

= render layout: 'users/card', locals: {user: authentication, size: size, username: username, profile_url: authentication.profile_url, target: '_blank'} do
  .pull-right
    = link_to provider_auth_path(authentication.provider, origin: return_to), data: {flow: 'connect'}, rel: 'tooltip', title: I18n.t('auth.reconnect.tooltip') do
      %span.icon.icon-download
      = I18n.t('auth.reconnect.link')
    &nbsp;&nbsp;
    = link_to [current_user, authentication], data: {confirm: I18n.t('auth.destroy.prompt'), confirm_modal: disconnect_modal}, method: :delete, rel: 'tooltip', title: I18n.t('auth.destroy.tooltip') do
      %span.icon.icon-trash
      = I18n.t('auth.destroy.link')
