- flow        ||= 'login'
- clickMomentId ||= params["clickMomentId"]
- css_class   ||= 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored play-with-fb'
- providers   ||= Authentication.providers
- referring_user ||= referring_user


.mdl-cell.mdl-cell--12-col.fb-play-btn-col.text-center
  - providers.each do |provider|
    = link_to provider_auth_path(provider, flow: flow, clickMomentId: clickMomentId), data: {flow: flow, provider: provider, ref: referring_user, :"width" => 600, :"height" => 400 }, class: css_class do
      %span.fb-icon-part.sico-facebook
      JOIN WITH FACEBOOK
      /   .is-active
      /     %span.fantoss-icon.bastman-icon>

  / %br/
  / %small
  /   * We do not post anything to facebook without your permission
