-# Generic OAuth failure page
-# This page is displayed when it's not possible to show the error inline on another page
-# Test with /auth/failure

.fantoss-body-content.has-white-bg
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-1.mdl-card.mdl-cell.mdl-cell--12-col.step-section.step-completed
      .team-title-text
        OOPS! We got Facebook authentication error
        %button.mdl-button.mdl-js-button.mdl-button--fab{"data-upgraded" => ",MaterialButton"}
          %i.material-icons.step-complete-icon check
  .mdl-grid
    .mdl-card.mdl-cell.mdl-cell--12-col.text-center
      %span.congo Facebook Signup Error
      We are notified of the error. Please check the facebook settings and try again.
