- size ||= :tiny
- alt ||= ''
- user ||= current_user
/ %span.icon.icon-person 
/ .avatar{class: size.to_s}
/   = image_tag user.image_url(size: size, ssl: request.ssl?), alt: alt
%span.icon
  = image_tag user.image_url(size: size, ssl: request.ssl?), alt: alt, style: 'border:1px solid #BFD6D8;'
