- user ||= User.new
- size ||= :thumb
- target ||= '_self'
- username ||= 'View'
- profile_url = user_path(user) unless defined? profile_url

/ .card__user{class: "card__user-#{size}"}
/   .media-object.pull-left
/     = render 'users/avatar', user: user, size: size
/   .media-body
/     %h4= user.name
/     - if profile_url
/       = link_to profile_url, target: target, class: 'btn btn-primary btn-outlined' do
/         = username
/     = yield
.col-xs-12
  .col-xs-2.pull-left
    = render 'users/avatar', user: user, size: size
  .col-xs-10.pull-left
    %h4= user.name
    - if profile_url
      = link_to profile_url, target: target do
        = username
    = yield
