.fantoss-body-content
  .fantoss-card-container.mdl-grid
    .mdl-card__title.mdl-card__title_center
      %h4.mdl-card__title-text.size-12.text-center
        LAST 10 MATCHES
    - @matches.each do |match|
      = render 'layouts/upcoming_match', m: match
