.fantoss-body-content.has-white-bg
  %aside.top-page-heading.uppercase
    = @user_transaction.match.team_names
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-1.mdl-card.mdl-cell.mdl-cell--12-col.step-section.step-completed
      .team-title-text
        OOPS! We got Payment Gateway error
        %button.mdl-button.mdl-js-button.mdl-button--fab{"data-upgraded" => ",MaterialButton"}
          %i.material-icons.step-complete-icon check
  .mdl-grid
    .mdl-cell.mdl-cell--12-col.mdl-cell--4-col-tablet.fan-mobile-full-card
      %table.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        %thead
          %tr
            %th.mdl-data-table__cell--non-numeric Error
            %th Value
        %tbody
          %tr
            %td.mdl-data-table__cell--non-numeric Response Message
            %td= "#{@user_transaction.payment_gateway_response['RESPMSG']} "
          %tr
            %td.mdl-data-table__cell--non-numeric Response CODE
            %td= "#{@user_transaction.payment_gateway_response['RESPCODE']} "
          %tr
            %td.mdl-data-table__cell--non-numeric Transaction Amount
            %td= "Rs. #{@user_transaction.payment_gateway_response['TXNAMOUNT']} "

    %article.mdl-cell.mdl-cell--12-col.mdl-card.congo-palying-card
      .mdl-card__actions.text-center
        %h6.text-center We have got notified of the payment error.
        %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp{:href => match_contest_user_team_league_index_path(match_id: @user_transaction.match, contest_id: Contest::TOP_5_CONTEST, user_team_id: @user_transaction.user_team)}
          = "Retry joining league"
          %i.material-icons arrow_forward

