!!!
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}/
    = display_meta_tags site: "fantoss.com"
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name:"mobile-web-app-capable", content:"yes" }
    = favicon_link_tag 'favicon.png'
    /[if lt IE 9]
      = javascript_include_tag 'ie'
    = javascript_include_tag 'head'
    = headjs_include_tag 'application', 'data-turbolinks-track' => true
    = render 'layouts/ga_universal'
    = csrf_meta_tags

  %body
    %div{style: "position:fixed;top:0px;right:0px;width:100%;height:100%;background-image:url('/assets/bx_loader.gif'); background-repeat:no-repeat;background-position:center;z-index:10000000;opacity: 0.4;"}
    = form_tag @gateway_url, class: 'hide paytm-form' do
      - @request_params.each do |key, value|
        = hidden_field_tag key, value

    = headjs_include_tag 'payment/new'
    / = render 'layouts/analytics'

