.fantoss-body-content.has-white-bg
  %aside.top-page-heading.uppercase
    = @user_transaction.match.team_names
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-1.mdl-card.mdl-cell.mdl-cell--12-col.step-section.step-completed
      .team-title-text
        4. PAYMENT SUCCESS
        %button.mdl-button.mdl-js-button.mdl-button--fab{"data-upgraded" => ",MaterialButton"}
          %i.material-icons.step-complete-icon check
  .mdl-grid
    .mdl-card.mdl-cell.mdl-cell--12-col.congrats-slogan.text-center
      %span.congo Congratulations,
      = "You have successfully joined #{@league.name} contest with #{@league.limit} members"
    %article.mdl-cell.mdl-cell--12-col.mdl-shadow--2dp.congo-palying-card
      %aside.mdl-row.fantoss-tour-media-card-row
        .mdl-card__actions.mdl-card--border.text-center
          %strong Members Playing
        .mdl-grid.palying-user-row
          .palying-user-col
            - @league.users.each do |usr|
              .name-row
                %span.player-circle
                = image_tag(usr.avatar_image)
                .detail
                  %strong.p-name= usr.display_name
                  / %br/
                  / = "#{usr.display_name}"
      .mdl-card__actions.mdl-card--border.text-center
        = "League entry fees is Rs #{@league.entry_fee}, Winning amount is Rs. #{@league.prize_money}"

    %article.mdl-cell.mdl-cell--12-col.mdl-shadow--2dp.congo-palying-card
      .mdl-card__actions.mdl-card--border.text-center
        %h6= "Invite friends and get ₹ 10 credits* for each new friend."
        .mdl-textfield.mdl-js-textfield
          %input.challenge_link.mdl-textfield__input.text-center{type: "text", value: "#{ref_url(current_user.id)}"}


    / %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.congo-palying-card
    /   #pwf.mdl-button.mdl-button--colored.cmn-2x-card.text-center.pwf
    /     %i.material-icons people
    /     Play with friends  and Earn 10% of their cash prize.

    %article.mdl-cell.mdl-cell--12-col.mdl-card.congo-palying-card
      .mdl-card__actions.text-center
        %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp{:href => match_url(@user_transaction.match.id)}
          = "Check #{@user_transaction.match.team_names} leaderboard"
          %i.material-icons arrow_forward



- content_for :on_ready do
  $("input.challenge_link").on("click", function () {
  $(this).select();
  });
