<%#
# Sidebar
This partial is used to display the sidebar in Administrate.
By default, the sidebar contains navigation links
for all resources in the admin dashboard,
as defined by the DashboardManifest.
%>

<ul class="sidebar__list">
  <li>
    <%= link_to "Sidekiq", "/admin/sidekiq/jobs" , target: '_blank', class: "sidebar__link" %>
  </li>

  <li>
    <%= link_to(
      'Data Analysis',
      money_transactions_admin_data_path,
      class: "sidebar__link sidebar__link--#{nav_link_state('data')}"
    ) %>
  </li>

  <% DashboardManifest::DASHBOARDS.each do |resource| %>
    <li>
      <%= link_to(
        display_resource_name(resource),
        [namespace, resource],
        class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
      ) %>
    </li>
  <% end %>

</ul>
