.fantoss-body-content
  %aside.top-page-heading.uppercase
    About & Contact
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      %p
        fantoss is a easy to play, mini-version and 100% legal fantasy cricket game, where we offer cricket contests to win cash prizes. We offer top 5 batsman cricket contest where member just have to pick your team and compete in 2, 3, 4 etc. member league.
      %p
        Join a free or paid league for Rs. 100, 250, 500, and Rs. 1000 to win 175% of what you paid for that is Rs. 175, 450, 900 and 1750 respectively.
      %p
        Payouts happen immediately after the games - no more waiting until the end of the season to collect winnings!
      %p
        We are on a journey to make fantoss a successful cricket contest game for cricket fans in India.
      %p
        To achieve that, We would love to hear feedback, questions and queries from our users.
        %br
        Email us or call us for all queries related to fantoss.
  %hr
  .mdl-grid
    .mdl-cell.mdl-cell--4-col
      %h5
        %i.material-icons location_on
        Address
      %p
        Bla
        %br/
        Bla
    .mdl-cell.mdl-cell--4-col
      %h5
        %i.material-icons email
        Email us
      %p
        = link_to "support@fantoss.com", "mailto:support@fantoss.com", class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-full mdl-shadow--3dp'
    / .mdl-cell.mdl-cell--4-col
    /   %h5
    /     %i.material-icons call
    /     Call us
    /   %p= link_to "Call us", "tel:9717944194", class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-full mdl-shadow--3dp'

