.fantoss-body-content
  %aside.top-page-heading.uppercase
    About & Contact
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      %p
        fantoss offers cricket contests where you can choose your best players to win cash prizes.
        %br/
        Started by serial entrepreneurs and sports enthusiasts fantoss aims to help sports lovers earn more through their knowledge
        %br/
        Payouts happen immediately after the games - no more waiting until the end of the season to collect winnings!
        %br/
        We are on a journey to make fantoss a successful cricket contest game for Cricket fans around the world.
        %br
        To achieve that, We would love to hear feedback, questions and queries from our users.
        %br
        Email us or call us for all queries related to fantoss.
  %hr
  .mdl-grid
    .mdl-cell.mdl-cell--4-col
      %h5
        %i.material-icons location_on
        Address
      %p
        NR31, S block - DLF phase 3,
        %br/
        Gurgaon - 122010
    .mdl-cell.mdl-cell--4-col
      %h5
        %i.material-icons email
        Email us
      %p
        = link_to "play@fantoss.com", "mailto:play@fantoss.com", class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-full mdl-shadow--3dp'
    .mdl-cell.mdl-cell--4-col
      %h5
        %i.material-icons call
        Call us
      %p= link_to "Call us", "tel:9717944194", class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-full mdl-shadow--3dp'

