:css
  .embed-container { position:relative;padding-bottom:100%;height: 0;overflow: hidden; -webkit-overflow-scrolling:touch;}
  .embed-container iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container
  %iframe{:src => "http://fangully.dev?utm_source=fantosslocal&utm_medium=iframe", :style => "border:0;"}
