.container{:style => "margin-top:40px;margin-bottom:40px"}
  %h4.sub_content.uppercase.text-center
    How to play
  %hr.no-margin

  .card.width90
    %h5.small_content CONTEST RULES
    %p.sub_content.textleft
      Each contest is based on a skill based question and can comprise of one or more question(s).
      %br/
      %br/
      Each contest has its own set of rules that are defined inside Contest rules tab. It has score calculations rules defined as well.
      %br/

  .card.width90
    %h5.small_content POINT AND RANK
    %p.sub_content.textleft  
      Rank calculation aka point computation is completely based on players performance.
      %br/
      %br/
      Your points is calculated based on run scored by batsman, or  wickets taken by bowlers etc. 

  .card.width90
    %h5.small_content PRIZE METHOD
    %p.sub_content.textleft  
      We have clearly defined prize rules for each contest. 
      %br/
      %br/
      Each contest has a entry fees that is required for user to play and get a chance to win.
      %br/
      %br/
      All the cash prize winners will be credited the amount in their accounts within 2-3 working days.
      %br/
      %br/
      

%br/
%br/
