%article.mdl-grid.header-cover
  .mdl-cell.mdl-cell--12-col.contest-message
    %span.uppercase{style: ''}
      Easy-to-Play cricket game
      %br/
      to win Cash daily !
    / %br/
    / %small{style: 'font-size:12px'} Who said fantasy sports isn't for everyone.
    %div
      %span.sub-slogan Create your team to earn real cash on live cricket match
      / %br/
  %article.how-to-play-section.mdl-grid
    %ul.highlight-section
      %li Join with facebook for free
      %li Create team with just top 5 batsman
      %li Compete with hundreds of challengers
      %li Track your team points on live match
      %li Get cash prizes in PAYTM wallet directly, within 1 day
    .mdl-cell--12-col.text-center
      %br/
      %br/
      = render 'authentications/providers', flow: 'login', icons: true, color: true
      %small{style: 'color:#efefef;'} * We do not post anything to facebook without your permission
      %br/
      %br/

    / .winning-chance
    /   = ['"Simply the best cricket contest i played." - Deepak, Indiatimes', '"Got my match winning amount directly to my paytm wallet in one day. Well done!" - Satyendra, Manager HSBC', '"One of the easiest cricket league gaming site. addictive & simple." - Rahul, Business Owner'].sample

.fantoss-body-content
  .fantoss-card-container.mdl-grid
    %article.mdl-cell.mdl-cell--12-col.slider-row
      %h6.mdl-card__title.mdl-card__title_center.text-center
        HOW TO PLAY?
      %ul.intro-slider
        %li.intro-slide
          %img{:alt => "guide", :src => asset_url("intro_slide/01-min.png")}/
        %li.intro-slide
          %img{:alt => "guide", :src => asset_url("intro_slide/02-min.png")}/
        %li.intro-slide
          %img{:alt => "guide", :src => asset_url("intro_slide/03-min.png")}/
        %li.intro-slide
          %img{:alt => "guide", :src => asset_url("intro_slide/04-min.png")}/
        %li.intro-slide
          %img{:alt => "guide", :src => asset_url("intro_slide/05-min.png")}/
    %br/
    %article.mdl-cell.mdl-cell--12-col
      %h6.mdl-card__title.mdl-card__title_center.text-center
        MEET SOME OF OUR TOP WINNERS
      %hr.divider/
      %article.mdl-grid.text-center.user-row
        .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet
          .mdl-grid
            .mdl-cell.mdl-cell--3-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet
              .fan-mojo-circle-crad
                %img{:alt => "", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xal1/v/t1.0-1/p100x100/1383816_1222093067818268_1020679044525943108_n.jpg?oh=55c88259a1a06080d8a12daa5f61c32f&oe=57882DFE&__gda__=1469390294_b2124405a3303b039658178fd5b8f7e8"}/
              %br/
              %strong.p-name Vikram Bhandari
              %br/
              %strong ₹
              7600
              won
            .mdl-cell.mdl-cell--9-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet.text-left
              %p.size-16{style: 'color: #313131;'}
                "fantoss.com is a great daily cricket contest game with easy to play rules. The chances of winning are transparent and the league size is clear too. I can play with friends which makes it more fun."
              %p.strong.size-12
                20 contests played
                &nbsp;&nbsp;|&nbsp;&nbsp;
                %strong ₹
                7600 won
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Business owner

          .mdl-grid
            .mdl-cell.mdl-cell--3-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet
              .fan-mojo-circle-crad
                %img{:alt => "", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p100x100/10399613_1308602755833476_5555101446570029372_n.jpg?oh=3958adb72bf11b9f67df79e6d914ec99&oe=57813636&__gda__=1468535328_b7e63fd427e2f98fd0742e5bda997ef9"}/
              %br/
              %strong.p-name Ankit Kumar
              %br/
              %strong ₹
              6250 won
            .mdl-cell.mdl-cell--9-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet.text-left
              %p.size-16{style: 'color: #313131;'}
                "I have played many times on fantoss.com and their support team is very friendly. I always get money back in my wallet within 24 hours which is so easy and useful."
              %p.strong.size-12
                17 contests played
                &nbsp;&nbsp;|&nbsp;&nbsp;
                %strong ₹
                6250
                won
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Bank Employee @ OBC
          .mdl-grid
            .mdl-cell.mdl-cell--3-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet
              .fan-mojo-circle-crad
                %img{:alt => "", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p100x100/10402006_761725383876206_6317931979078897039_n.jpg?oh=9322423e37313da86d328176ffea3759&oe=5780AB83&__gda__=1467384074_91455c798326bce39076127acb72d144"}/
              %br/
              %strong.p-name Yatin jain
              %br/
              %strong ₹
              3100 won
            .mdl-cell.mdl-cell--9-col.mdl-cell--12-col-phone.mdl-cell--6-col-tablet.text-left
              %p.size-16{style: 'color: #313131;'}
                "I like the fact that i can see my points anytime on leaderboard. i can also see rankings of my opponents and friends anytime which makes it fun and easier to track my performance."
              %p.strong.size-12
                9 contests played
                &nbsp;&nbsp;|&nbsp;&nbsp;
                %strong ₹
                3100
                won
                &nbsp;&nbsp;|&nbsp;&nbsp;
                DCE Engineering student


    %article.mdl-cell.mdl-cell--12-col.text-center
      %br/
      %hr.divider/
      %h6.mdl-card__title.mdl-card__title_center.text-center
        PLAY FREE & CASH CRICKET CONTEST TO WIN DOUBLE ON DAILY MATCHES
      = render 'authentications/providers', flow: 'login', icons: true, color: true
      %br/
      %small * We do not post anything to facebook without your permission
      %br/

    %article.mdl-cell.mdl-cell--12-col
      %h6.mdl-card__title.mdl-card__title_center.text-center
        RULES & FAQs
      %hr.divider/
      .mdl-grid
        .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-phone.mdl-cell--12-col-tablet
          %h6
            %span.faq_question Is it Legal?
            %br/
            fantoss is a cricket game that qualifies under Game of skill as you have to use your skills to select top 5 batsman players that are going to perform best for the current match based upon multiple factors such as players current form, pitch type, weather conditions and past opposition performances etc. This definitely gives more edge to the game followers/expert players on fantoss.
          %h6
            %span.faq_question Why top 5 batsman?
            %br/
            fantoss is a modified format of fantasy sports where you can select just top 5 batsman to compete. Selecting just top 5 batsman makes it easy for every age group to participate easily.
          %h6
            %span.faq_question How is winner decided?
            %br/
            Winners are decided based on Ranking/point calculations based on each player batting performance in live match that you have selected in your team.

          %h6
            %span.faq_question How are points calculated?
            %br/
            Points are calculated for each batsman based on following table
            %table.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--hide-phone.mdl-cell--hide-tablet
              %tr.heading-row
                %th RUNS
                %th Singles(1/2/3)
                %th 4
                %th 6
                %th 50
                %th 100
                %th Duck
              %tr.blue-row
                %td POINTS
                %td 1 Points
                %td 8 Points
                %td 12 Points
                %td 20 Points
                %td 40 Points
                %td -10 Points
            %table.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--hide-desktop
              %thead
                %tr
                  %th RUNS
                  %th POINTS
              %tbody
                %tr
                  %td Singles(1/2/3)
                  %td 1 Points
                %tr
                  %td 4
                  %td 8 Points
                %tr
                  %td 6
                  %td 12 Points
                %tr
                  %td 50
                  %td 20 Points
                %tr
                  %td 100
                  %td 40 Points
                %tr
                  %td Duck
                  %td -10 Points

        .mdl-cell.mdl-cell--12-col.mdl-cell--12-col-phone.mdl-cell--12-col-tablet
          %h6
            %span.faq_question Dont have a Paytm wallet?
            %br/
            PayTM payment gateway provides Debit, Credit and Bank Payments.
            You can easily create a PayTM wallet account using just your mobile number and join paid contest.
          %h6
            %span.faq_question Where do i check my team rank and know about the result when match is live?
            %br/
            You can checkout your teams rank & other challengers/members teams ranks on the leaderboard page once the match goes live. After the match is completed, winners are announced based on contest rankings.

          %a{:href => faq_path } read rest of the faq's






/ = headjs_include_tag 'typed.js'
/ $(".sub-slogan").typed({
/ strings: ["Select Top 5 Batsman to play.", "50% winning chance.", "Play 2, 4 and 8 member leagues.", "Play Free or Paid Leagues.", "Pay with PAYTM wallet", "Get Prize Money in PAYTM wallet in 1 day.", "Live Leaderboard and Rankings.", "50% winning chance."],
/ typeSpeed: 100,
/ backDelay: 1000,
/ loop: true
/ });

:javascript
  load_slider = function(){
    var slideWidth = parseInt($(".slider-row").width()/3)-16;
    var min_slide = 3;
    var margin = 21;
    var win_width = $(window).width();

    if( win_width < 600 ) {
      slideWidth = parseInt($(".slider-row").width()*.85);
      min_slide = 1;
      margin = 10;
    }
    $('.intro-slider').bxSlider({
      minSlides: min_slide,
      maxSlides: min_slide,
      slideWidth: slideWidth,
      slideMargin: margin,
      pager : false
    });
  };

- content_for :on_ready do
  load_slider();
  var google_tag_params = {
  referrer: document.referrer
  };




