%article.mdl-grid
  .mdl-cell.mdl-cell--12-col.contest-message
    %span.uppercase
      Play Top 5 Batsman Fantasy Cricket League
      %br/
      and win cash. daily!
    %div
      %span.sub-slogan
        50% Winning Chance

    .winning-chance
      = ['"Simply the best cricket contest i played." - Deepak, Indiatimes', '"Got my match winning amount directly to my paytm wallet in one day. Well done!" - Satyendra, Manager HSBC', '"One of the easiest cricket league gaming site. addictive & simple." - Rahul, Business Owner'].sample
  / .fantoss-body-content
  /   .fantoss-card-container.mdl-grid
  /     .mdl-card__title.mdl-card__title_center
  /       %h4.mdl-card__title-text.size-12.text-center
  /         UPCOMING MATCHES
  /     = render 'layouts/upcoming_match', m: Match.next
  %article.how-to-play-section.mdl-grid
    #how_to_play_box.mdl-cell.mdl-cell--12-col
      %button#how-to-play.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored.how-play-video.how-to-play-link
        %i.material-icons.white play_circle_outline
        See How to Play
    = render 'authentications/providers', flow: 'login', icons: true, color: true

%hr.divider/
%h5.text-center Top Winners
%article.mdl-grid.text-center.user-row
  - RandomFbId.landing_profiles.each do |random_user|
    .mdl-cell.mdl-cell--2-col.mdl-cell--4-col-phone.mdl-cell--4-col-tablet.hm-contest
      .name-row
        .fan-mojo-circle-crad
          %img{:alt => "", :src => asset_url("user_landing/#{random_user[1]}.jpg")}
        %div
          %strong.p-name= random_user[0]
          %br/
          = "#{random_user[2]} contests played"
          %br/
          %strong ₹
          = random_user[3]
          won
          %br/
          = random_user[4]



= headjs_include_tag 'typed.js'

- content_for :on_ready do
  $(".sub-slogan").typed({
  strings: ["Just Pick your team to play", "Play 2, 3, 4 etc. member leagues", "Play Free or Paid Leagues", "Challenge your friends", "Live Leaderboard and Rankings", "50% winning chances"],
  typeSpeed: 100,
  backDelay: 1000,
  loop: true
  });





