.fantoss-body-content
  %aside.top-page-heading.uppercase
    Location Disabled
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      %p Sorry, your location has been disabled.
      %p You are either from States of Orrisa, Sikkim, Assam or Tamil Nadu where our services are disabled due to state legislation.
      %p
        If you are not from any of these states, please email us at
        %a{href: 'mailto:play@fantoss.com' } play@fantoss.com

/ - content_for :on_ready do
/   mixpanel.init("#{Rails.application.config.settings.env['MIXPANEL']}");
/   mixpanel.track("Location disabled", { "remote_ip": "#{params[:remote_ip]}", "state": "#{params[:ip_state]}" });
