.container{:style => "margin-top:40px;margin-bottom:40px"}
  %h4.sub_content.uppercase.text-center
    Payments
  %hr.no-margin
  .card.width90
    %h5.sub_content.textleft
      Contest & Prize Money
    %p.sub_content.textleft
      Currently, we offer Free and paid contest with entry fees of INR 100, 250, 500, 1000, with prize money of INR 175, 450, 900, 1750 respectively.
    %br/
    %h5.sub_content.textleft      
      Payment Criteria
    %p.sub_content.textleft
      All the User payment happens through partner wallet services for playing the contest/game. 
      %br/
      All the prize money, or refunds will be credited to respective users within a day or two.    
      %br/
  %br/
  %p.text-center
    For any payment related queries:
    %br/
    %br/
    = link_to 'CONTACT US', contact_path, class: 'btn btn-primary'
