.fantoss-body-content.has-white-bg
  %aside.top-page-heading.uppercase
    Rules & Points system
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-1.mdl-card.mdl-cell.mdl-cell--12-col.step-section.step-completed
      .team-title-text
        Points table
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      %table{ style: 'width: 100%; text-align: center;' }
        %thead
          %tr
            %th Attribute
            %th Points/Multipler
        %tbody
          %tr
            %td Per run
            %td 1
          %tr
            %td Four
            %td 1
          %tr
            %td Six
            %td 2
          %tr
            %td Half century
            %td 5
          %tr
            %td Century
            %td 10
          %tr
            %td Double century
            %td 15
          %tr
            %td Duck
            %td -3
          %tr
            %td Wicket
            %td 10
          %tr
            %td 4 wicket haul
            %td 5
          %tr
            %td 5 wicket haul
            %td 10
          %tr
            %td Maiden
            %td 5
          %tr
            %td Captain
            %td 2x
          %tr
            %td Vice captain
            %td 1.5x



