.fantoss-body-content
  %aside.top-page-heading.uppercase
    FanTOSS Terms of Use
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
  %br
  %div
    Last updated: April 18th, 2018
  .mdl-grid
    %h5
      Fantoss
    %p
      Fantoss is the flagship brand of Fantoss Technology Private Limited ("Fantoss"). Through Fantoss, along with its sub-pages, and the Fantoss App, Fantoss operates one portal through which it offers cricket based online fantasy games. Fantoss as used herein shall be construed as a collective reference to Fantoss and the Fantoss App (underdevelopment/testing).

    %h5
      Usage of Fantoss
    %p
      %ul
        %li
          Any person utilizing Fantoss or the Fantoss App ("User") for availing the online information and database retrieval services, including, gaming services, offered therein "Fantoss Services") or participating in the various contests and, games (including fantasy games), being conducted on Fantoss ("Contest(s)") shall be bound by these Terms and Conditions, and all other rules, regulations and terms of use referred to herein or provided by Fantoss in relation to any Fantoss Services.
        %li
          Fantoss shall be entitled to modify these Terms and Conditions, rules, regulations and terms of use referred to herein or provided by Fantoss in relation to any Fantoss Services, at any time, by posting the same on Fantoss. Use of Fantoss constitutes the User's acceptance of such Terms and Conditions, rules, regulations and terms of use referred to herein or provided by Fantoss in relation to any Fantoss Services, as may be amended from time to time. Fantoss may also notify the User of any change or modification in these Terms and Conditions, rules, regulations and terms of use referred to herein or provided by Fantoss, by way of sending an email to the User's registered email address or posting notifications in the User accounts. The User may then exercise the options provided in such an email or notification to indicate non-acceptance of the modified Terms and Conditions, rules, regulations and terms of use referred to herein or provided by Fantoss. If such options are not exercised by the User within the time frame prescribed in the email or notification, the User will be deemed to have accepted the modified Terms and Conditions, rules, regulations and terms of use referred to herein or provided by Fantoss.
        %li
          Certain Fantoss Services being provided on Fantoss may be subject to additional rules and regulations set down in that respect. To the extent that these Terms and Conditions are inconsistent with the additional conditions set down, the additional conditions shall prevail.
        %li
          Fantoss may, at its sole and absolute discretion:
          %ul
            %li
              Restrict, suspend, or terminate any User's access to all or any part of Fantoss or Fantoss Services;
            %li
              Change, suspend, or discontinue all or any part of the Fantoss Services;
            %li
              Reject, move, or remove any material that may be submitted by a User;
            %li
              Move or remove any content that is available on Fantoss;
            %li
              Deactivate or delete a User's account and all related information and files on the account;
            %li
              Establish general practices and limits concerning use of Fantoss;
            %li
              Revise or make additions to the roster of players available for selection in a Contest on account of revisions to the roster of players involved in the relevant Sports Event;
            %li
              Assign its rights and liabilities to all User accounts hereunder to any entity (post intimation of such assignment shall be sent to all Users to their registered email ids)
        %li
          In the event any User breaches, or Fantoss reasonably believes that such User has breached these Terms and Conditions, or has illegally or improperly used Fantoss or the Fantoss Services, Fantoss may, at its sole and absolute discretion, and without any notice to the User, restrict, suspend or terminate such User's access to all or any part of Fantoss or the Fantoss Services, deactivate or delete the User's account and all related information on the account, delete any content posted by the User on Fantoss and further, take technical and legal steps as it deems necessary.
        %li
          If Fantoss charges its Users a platform fee in respect of any Fantoss Services, Fantoss shall, without delay, repay such platform fee in the event of suspension or removal or the User's account or Fantoss Services on account of any negligence or deficiency on the part of Fantoss, but not if such suspension or removal is effected due to:
          %ul
            %li
              any breach or inadequate performance by the User of any of these Terms and Conditions; or
            %li
              any circumstances beyond the reasonable control of Fantoss.
        %li
          Users consent to receiving communications such as announcements, administrative messages and advertisements from Fantoss or any of its partners, licensors or associates.

    %h5
      Intellectual Property
    %p
      %ul
        %li
          Fantoss includes a combination of content created by Fantoss, its partners, licensors, associates and/or Users. The intellectual property rights ("Intellectual Property Rights") in all software underlying Fantoss and the Fantoss Services and material published on Fantoss, including (but not limited to) games, Contests, software, advertisements, written content, photographs, graphics, images, illustrations, marks, logos, audio or video clippings and Flash animation, is owned by Fantoss, its partners, licensors and/or associates. Users may not modify, publish, transmit, participate in the transfer or sale of, reproduce, create derivative works of, distribute, publicly perform, publicly display, or in any way exploit any of the materials or content on Fantoss either in whole or in part without express written license from Fantoss.
        %li
          Users may request permission to use any Fantoss content by writing in to connect@fantoss.com
        %li
          Users are solely responsible for all materials (whether publicly posted or privately transmitted) that they upload, post, e-mail, transmit, or otherwise make available on Fantoss ("Users' Content"). Each User represents and warrants that he/she owns all Intellectual Property Rights in the User's Content and that no part of the User's Content infringes any third party rights. Users further confirm and undertake to not display or use of the names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights of any third party on Fantoss. Users agree to indemnify and hold harmless Fantoss, its directors, employees, affiliates and assigns against all costs, damages, loss and harm including towards litigation costs and counsel fees, in respect of any third party claims that may be initiated including for infringement of Intellectual Property Rights arising out of such display or use of the names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights on Fantoss, by such User or through the User's commissions or omissions.
        %li
          Users hereby grant to Fantoss and its affiliates, partners, licensors and associates a worldwide, irrevocable, royalty-free, non-exclusive, sub-licensable license to use, reproduce, create derivative works of, distribute, publicly perform, publicly display, transfer, transmit, and/or publish Users' Content for any of the following purposes:
          %ul
            %li
              displaying Users' Content on Fantoss
            %li
              distributing Users' Content, either electronically or via other media, to other Users seeking to download or otherwise acquire it, and/or
            %li
              storing Users' Content in a remote database accessible by end users, for a charge.
            %li
              This license shall apply to the distribution and the storage of Users' Content in any form, medium, or technology.
        %li
          All names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights on Fantoss(s) belonging to any person (including User), entity or third party are recognized as proprietary to the respective owners and any claims, controversy or issues against these names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights must be directly addressed to the respective parties under notice to Fantoss.

    %h5
      Third Party Sites, Services and Products
    %p
      %ul
        %li
          Fantoss may contain links to other Internet sites owned and operated by third parties. Users' use of each of those sites is subject to the conditions, if any, posted by the sites. Fantoss does not exercise control over any Internet sites apart from Fantoss, and cannot be held responsible for any content residing in any third party Internet site. Fantoss's inclusion of third-party content or links to third-party Internet sites is not an endorsement by Fantoss of such third-party Internet site.
        %li
          Users' correspondence, transactions or related activities with third parties, including payment providers and verification service providers, are solely between the User and that third party. Users' correspondence, transactions and usage of the services of such third party shall be subject to the terms and conditions, policies and other service terms adopted/implemented by such third party, and the User shall be solely responsible for reviewing the same prior to transacting or availing of the services of such third party. User agrees that Fantoss will not be responsible or liable for any loss or damage of any sort incurred as a result of any such transactions with third parties. Any questions, complaints, or claims related to any third party product or service should be directed to the appropriate vendor.
        %li
          Fantoss contains content that is created by Fantoss as well as content provided by third parties. Fantoss does not guarantee the accuracy, integrity, quality of the content provided by third parties and such content may not relied upon by the Users in utilizing the Fantoss Services provided on Fantoss including while participating in any of the contests hosted on Fantoss.

    %h5
      Privacy Policy
    %p
      All information collected from Users, such as registration and credit card information, is subject to Fantoss's Privacy Policy which is available at Privacy Policy.

    %h5
      User Conduct
    %p
      %ul
        %li
          Users agree to abide by these Terms and Conditions and all other rules, regulations and terms of use of the Website. In the event User does not abide by these Terms and Conditions and all other rules, regulations and terms of use, Fantoss may, at its sole and absolute discretion, take necessary remedial action, including but not limited to:
          %ul
            %li
              restricting, suspending, or terminating any User's access to all or any part of Fantoss Services;
            %li
              deactivating or deleting a User's account and all related information and files on the account. Any amount remaining unused in the User's Game account or Winnings Account on the date of deactivation or deletion shall be transferred to the User's bank account on record with Fantoss subject to a processing fee (if any) applicable on such transfers as set out herein; or
            %li
              refraining from awarding any prize(s) to such User.
        %li
          Users agree to provide true, accurate, current and complete information at the time of registration and at all other times (as required by Fantoss). Users further agree to update and keep updated their registration information.
        %li
          A User shall not register or operate more than one User account with Fantoss.
        %li
          Users agree to ensure that they can receive all communication from Fantoss by marking e-mails from Fantoss as part of their "safe senders" list. Fantoss shall not be held liable if any e-mail remains unread by a User as a result of such e-mail getting delivered to the User's junk or spam folder.
        %li
          Any password issued by Fantoss to a User may not be revealed to anyone else. Users may not use anyone else's password. Users are responsible for maintaining the confidentiality of their accounts and passwords. Users agree to immediately notify Fantoss of any unauthorized use of their passwords or accounts or any other breach of security.
        %li
          Users agree to exit/log-out of their accounts at the end of each session. Fantoss shall not be responsible for any loss or damage that may result if the User fails to comply with these requirements.
        %li
          Users agree not to use cheats, exploits, automation, software, bots, hacks or any unauthorized third party software designed to modify or interfere with Fantoss Services and/or Fantoss experience or assist in such activity.
        %li
          Users agree not to copy, modify, rent, lease, loan, sell, assign, distribute, reverse engineer, grant a security interest in, or otherwise transfer any right to the technology or software underlying Fantoss or Fantoss Services.
        %li
          Users agree that without Fantoss's express written consent, they shall not modify or cause to be modified any files or software that are part of Fantoss's Services.
        %li
          Users agree not to disrupt, overburden, or aid or assist in the disruption or overburdening of (a) any computer or server used to offer or support Fantoss or the Fantoss Services (each a "Server"); or (2) the enjoyment of Fantoss Services by any other User or person.
        %li
          Users agree not to institute, assist or become involved in any type of attack, including without limitation to distribution of a virus, denial of service, or other attempts to disrupt Fantoss Services or any other person's use or enjoyment of Fantoss Services.
        %li
          Users shall not attempt to gain unauthorized access to the User accounts, Servers or networks connected to Fantoss Services by any means other than the User interface provided by Fantoss, including but not limited to, by circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person to circumvent or modify, any security, technology, device, or software that underlies or is part of Fantoss Services.
        %li
          Without limiting the foregoing, Users agree not to use Fantoss for any of the following:
          %ul
            %li
              To engage in any obscene, offensive, indecent, racial, communal, anti-national, objectionable, defamatory or abusive action or communication;
            %li
              To harass, stalk, threaten, or otherwise violate any legal rights of other individuals;
            %li
              To publish, post, upload, e-mail, distribute, or disseminate (collectively, "Transmit") any inappropriate, profane, defamatory, infringing, obscene, indecent, or unlawful content;
            %li
              To Transmit files that contain viruses, corrupted files, or any other similar software or programs that may damage or adversely affect the operation of another person's computer, Fantoss, any software, hardware, or telecommunications equipment;
            %li
              To advertise, offer or sell any goods or services for any commercial purpose on Fantoss without the express written consent of Fantoss;
            %li
              To Transmit content regarding services, products, surveys, contests, pyramid schemes, spam, unsolicited advertising or promotional materials, or chain letters;
            %li
              To Transmit content regarding services, products, surveys, contests, pyramid schemes, spam, unsolicited advertising or promotional materials, or chain letters;
            %li
              To download any file, recompile or disassemble or otherwise affect our products that you know or reasonably should know cannot be legally obtained in such manner;
            %li
              To falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or the source of software or other material;
            %li
              To restrict or inhibit any other user from using and enjoying any public area within our sites;
            %li
              To collect or store personal information about other Users;
            %li
              To interfere with or disrupt Fantoss, servers, or networks;
            %li
              To impersonate any person or entity, including, but not limited to, a representative of Fantoss, or falsely state or otherwise misrepresent User's affiliation with a person or entity;
            %li
              To forge headers or manipulate identifiers or other data in order to disguise the origin of any content transmitted through Fantoss or to manipulate User's presence on Fantoss(s);
            %li
              To take any action that imposes an unreasonably or disproportionately large load on our infrastructure;
            %li
              To engage in any illegal activities. You agree to use our bulletin board services, chat areas, news groups, forums, communities and/or message or communication facilities (collectively, the "Forums") only to send and receive messages and material that are proper and related to that particular Forum.
        %li
          If a User chooses a username that, in Fantoss's considered opinion is obscene, indecent, abusive or that might subject Fantoss to public disparagement or scorn, Fantoss reserves the right, without prior notice to the User, to change such username and intimate the User or delete such username and posts from Fantoss, deny such User access to Fantoss, or any combination of these options.
        %li
          Unauthorized access to Fantoss is a breach of these Terms and Conditions, and a violation of the law. Users agree not to access Fantoss by any means other than through the interface that is provided by Fantoss for use in accessing Fantoss. Users agree not to use any automated means, including, without limitation, agents, robots, scripts, or spiders, to access, monitor, or copy any part of our sites, except those automated means that we have approved in advance and in writing.
        %li
          Use of Fantoss is subject to existing laws and legal processes. Nothing contained in these Terms and Conditions shall limit Fantoss's right to comply with governmental, court, and law-enforcement requests or requirements relating to Users' use of Fantoss.
        %li
          Users may reach out to Fantoss through -
          %ul
            %li
              connect@fantoss.com
            %li
              Phone: +91(892)059-4574
            %li
              Corporate Office: 29 Masihgarh, New Friends Colony, New Delhi 110025
        %li
          Persons below the age of eighteen (18) years are required to seek permission or consent from their parents or legal guardians before furnishing data, participating or entering on Fantoss or the Fantoss Services or inter alia, in the contest, uploading pictures, playing games or being part, directly or indirectly, of any activity on Fantoss. Entry to Fantoss without consent from parent/s or legal guardian and consequent participation in any activity on Fantoss Website is not permitted and such person is subject to disqualification at the sole and absolute discretion of Fantoss, whenever it comes to the knowledge of Fantoss.
        %li
          Fantoss believes that parents should supervise their children's online activities and consider using parental control tools available from online services and software manufacturers that help provide a child-friendly online environment. These tools can also prevent children from disclosing online their name, address and other personal information without parental permission.
        %li
          Although persons below the age of 18 years are allowed to use certain Fantoss Services on the Fantoss with the consent of their parent/s or legal guardians, they may not (where expressly stated in the rules of the Contest) participate in Contest(s) hosted by Fantoss.
        %li
          Fantoss may not be held responsible for any content contributed by Users on the Fantoss.

    %h5
      Registration
    %p
      %ul
        %li
          In order to register for the Contest(s), Participants are required to accurately provide the following information:
          %ul
            %li
              Full Name
            %li
              Team Name(s)
            %li
              E-mail address (for cash out)
            %li
              Password (could be replaced by one time password on phone number)
            %li
              State of Residence (in T&C)
            %li
              Gender (in profile)
            %li
              Date of birth (in profile)
        %li
          Participants are also required to confirm that they have read, and shall abide by, these Terms and Conditions.
        %li
          In the event a Participant indicates, while entering an address, that he/she is a resident of either Assam, Odisha or Telangana, such Participant will not be permitted to proceed to sign up for any round in the paid version of the Contest as described below.
        %li
          Once the Participants have entered the above information, and clicked on the "register" tab, and such Participants are above the age of 18 years, they are sent an email confirming their registration and containing their login information.
        %li
          Your referral balance has validity of 15 days only.

    %h5
      Contest(s), Participation and Prizes
    %p
      %ul
        %li
          As part of its services, Fantoss may also conduct contest(s) on the Fantoss. Currently, Fantoss provides the following Fantoss Services: A fantasy cricket game. Individual users wishing to participate in the Fantoss Services ("Participants") are invited to create their own fantasy teams ("Team/s") consisting of real life cricketers involved in the real-life cricket/football/kabaddi match (as applicable), series or tournament (each a "Sport Event") to which the fantasy game relates. Fantoss offers Participants fantasy game Contest(s) relating to each Sport Event, and Participants can participate in such Contest(s) with their Teams. Teams are awarded points on the basis of the real life cricketers' (as applicable) performances at the end of a designated match, round or tournament of the Contest(s). The Participant(s) whose Team(s) have achieved the highest aggregate score(s) in the Contest(s) shall be declared winners ("Winners"). In certain pre-specified Contests, Fantoss may declare more than one Winner and distribute prizes to such Winners in increasing order of their Team's aggregate score at the end of the designated round(s) of Contests. The Contest(s) across the Fantoss Services shall, in addition to the Terms and Conditions, rules and regulations mentioned herein, be governed by:
          %ul
            %li
              "Fantasy Rules" available at How To Play - Fantoss Tutorial
            %li
              Other rules and regulations (including rules and regulation in relation to any payments made to participate in the Contest(s); and all Participants agree to abide by the same.
        %li
          Currently, there are paid versions of the Contest(s) made available by Fantoss Users may participate in the Contest(s) by paying the pre-designated amount as provided on the relevant Contest page. The Participant with the highest aggregate points at the end of the pre-determined round shall be eligible to win a pre-designated prize, as stated on the relevant Contest(s) page.
        %li
          A Participant may create different Teams for participation in Contest(s) offered in relation to a Sport Event across the Fantoss Services. However, unless Fantoss specifies otherwise in relation to any Contest ("Multiple Entry Contest"), Participants acknowledge and agree that they may enter only one Team in any Contest offered in relation to a Sport Event. In the case of a Multiple Entry Contest, a Participant may enter more than one Team in a single Multiple Entry Contest, however on submitting more than one Team for participation in a single Multiple Entry Contest, the Participant will not be permitted to edit or revise the Teams so submitted for participation in such Multiple Entry Contest. In addition, it is expressly clarified that Fantoss may, from time to time, restrict the maximum number of Teams that may be created by a single User account (for each format of the Fantoss Services) or which a single User account may enter in a particular Multiple Entry Contest, in each case to such number as determined by Fantoss in its sole discretion.
        %li
          Fantoss shall collect a pre-designated fee for access to the Fantoss Services from each Participant in relation to the Contest(s).  In the event a Participant indicates, while entering an address, that he/she is a resident of either Assam, Odisha or Telangana, such Participant will not be permitted to proceed to sign up for the round or contest and may not participate in any paid version of the Contest(s).

    %h5
      Contest Formats
    %p
      %ul
        %li
          Fantoss provides Contest(s). in two separate formats of Fantoss Services, (1) as a public contest where Users can participate in a Contest with other Users without any restriction on participation and (2) private contests, where Users can invite specific Users into a Contest and restrict participation to such invited Users. All rules applicable to Contest(s) as set out herein shall be applicable to both formats of the Contest(s).
        %li
          Public contest
          %ul
            %li
              In the Public contest format of the Contest(s), Fantoss may offer the Contest(s) in contests comprising of 2 Participants, 3 Participants, 5 Participants, 10 Participants, 100 Participants or any other pre-designated number of Participants.
            %li
              Fantoss may offer this format of the Contest(s) as a paid format and the Winner will be determinable at the end of the round.
            %li
              The number of Participants required to make the Contest(s) operational will be pre-specified and once the number of Participants in such Contest(s) equals the pre-specified number required for that Contest(s), such Contest(s) shall be operational. In case the number of Participants is less than the pre-specified number at the time of commencement of the round, such Contest(s) will not be operational and the participation fee paid by each Participant shall be returned to the account of such User without any charge or deduction.
            %li
              In certain Contests across the Fantoss Services, designated as "Confirmed contests", the Contest(s) shall become operational once the number of Participants in such Contest (s) equals the pre-specified number of winners to be declared in such Contest(s), even if all available Participant slots (as pre-specified in relation to the Contest(s)) remain unfilled. It is clarified that notwithstanding the activation of such Contest(s), Participants can continue to join such Contest(s) till either (i) all available Participant slots of such Contest(s) are filled or (ii) the round to which the Contest (s) relates commences, whichever is earlier. In case such Contest(s) is not operational by the time of the commencement of the round, the participation fee paid by each Participant shall be returned to the account of such User without any charge or deduction.
        %li
          Private contest
          %ul
            %li
              In the Private contest format of the Contest(s), Fantoss enables Users to create a contest ("Private contest") and invite other users, whether existing Users or otherwise, ("Invited User") to create Teams and participate in the Contest(s). Users may create a Private contest to consist of a pre-specified number of Participants, that is, consisting of either 2 Participants, 3 Participants, 5 Participants or 10 Participants. The User creating the Private contest shall submit the participation fee for such Private contest and thereby join that Private contest, shall supply a name for the Private contest and be provided with a unique identification code ("contest Code") (which will be issued to the account of such User). The User agrees and understands that once the Private contest is created no change shall be permitted in the terms or constitution of the Private contest, except for a change in the name of the contest. The User creating the Private contest shall provide Fantoss with the email address or Facebook account username of Invited Users to enable Fantoss to send a message or mail inviting such Invited User to register with Fantoss (if necessary) and participate in the Private contest in relation to which the invite has been issued.
            %li
              In order to participate in the Private contest, an Invited User shall input the contest Code associated with the Private contest and submit the participation fee for the Private contest. Once the number of Participants in a Private contest equals the number of pre-specified Participants for that Private contest, the Private contest shall be rendered operative and no other Invited Users or Users shall be permitted to participate in the Private contest. In the event that any Private contest does not contain the pre-specified number of Participants for that Private contest within 1 hour prior to the commencement of the round/Contest, the Participants of such Private contest will be provided with the option to convert the Private contest into a Public contest format, and permit the participation of Users without the contest Code. It is clarified that Fantoss undertakes such conversion in a serialised manner and cannot and does not warrant that any Private contest will be converted into a Public contest format prior to the commencement of the round/Contest(s) or that any Users will join such Contest (s to make it operational. In case the number of Participants in any Private contest (or converted Contest(s)) is less than the pre-specified number at the time of commencement of the round, such Contest(s) will not be operational and the participation fee paid by each User shall be returned to the account of such User without any charge or deduction.
            %li
              It is clarified that the participation of Invited Users in any Private contest is subject to the pre-specified number of Participants for that Private contest, and Fantoss shall not be liable to any person for the inability of any Invited User to participate in any Private contest due to any cause whatsoever, including without limitation due to a hardware or technical malfunction or lack of eligibility of such Invited User to participate in the Contest(s).

    %h5
      Legality of Game of Skill
    %p
      %ul
        %li
          Games of skill are legal, as they are excluded from the ambit of Indian gambling legislations including, the Public Gambling Act of 1867.The Indian Supreme Court in the cases of State of Andhra Pradesh v. K Satyanarayana (AIR 1968 SC 825) and KR Lakshmanan v. State of Tamil Nadu (AIR 1996 SC 1153) has held that a game in which success depends predominantly upon the superior knowledge, training, attention, experience and adroitness of the player shall be classified as a game of skill.
        %li
          The Contest (s) described above (across the Fantoss Services) are games of skill as success of Participants depends primarily on their superior knowledge of the games of cricket and/or football and/or kabaddi statistics, knowledge of players' relative form, players' performance in a particular territory, conditions and/or format (such as ODIs, test cricket and Twenty20 in the cricket fantasy game), attention and dedication towards the Contest(s) and adroitness in playing the Contest(s). The Contest(s) also requires Participants to field well-balanced sides with limited resources and make substitutions at appropriate times to gain the maximum points.
        %li
          By participating in this Contest(s), each Participant acknowledges and agrees that he/she is participating in a game of skill.

    %h5
      Eligibility
    %p
      %ul
        %li
          The Contest(s) are open only to persons above the age of 18 years.
        %li
          The Contest(s) are open only to persons, currently residing in India.
        %li
          Fantoss may, in accordance with the laws prevailing in certain Indian states, bar individuals residing in those states from participating in the Contest(s). Currently, individuals residing in the Indian states of Assam, Odisha or Telangana may not participate in the paid version of the Contest as the laws of these states bar persons from participating in games of skill where participants are required to pay to enter.
        %li
          Persons who wish to participate must have a valid email address.
        %li
          Only those Participants who have successfully registered on the Fantoss as well as registered prior to each round in accordance with the procedure outlined above shall be eligible to participate in the Contest and win prizes.

    %h5
      Payment Terms
    %p
      %ul
        %li
          In respect of any transactions entered into on the Fantoss, including making a payment to participate in the paid versions of Contest(s), Users agree to be bound by the following payment terms:
          %ul
            %li
              The payment Users make to participate in the Contest(s) is inclusive of the nominated fee for access to the Fantoss Services charged by Fantoss. Subject to these Terms and Conditions, all other amounts collected from the User are held in escrow until determination of the Winners and distribution of prizes.
            %li
              Fantoss portal hosts a number of Contests for which it reserves the right to charge a Platform Fee, which would be specified and notified by Fantoss on the Contest page prior to a User's joining of such Contest. The Platform Fee and applicable tax thereon will be debited from the User’s account balance along with the entry-fee for the Contest, and Fantoss shall issue an invoice for such debit to the User.
            %li
              The User may participate in a Contest wherein the User has to contribute a pre-specified contribution towards the Prize Money Pool of such Contest, which will be passed on to the Winner(s) of the Contest after the completion of the Contest as per the terms and conditions of such Contest. It is clarified that Fantoss has no right or interest in this Prize Money Pool, and only acts as an intermediary engaged in collecting and distributing the Prize Money Pool in accordance with the Contest terms and conditions. The amount to be paid-in by the User towards the Prize Money Pool would also be debited from the User’s account balance with Fantoss.
            %li
              Fantoss provides users with three categories of accounts for the processing and reconciliation of payments in relation to the Fantoss Services: (i) 'Unutilized' Account, (ii) Winnings Account, and (iii) Cash Bonus Account.
            %li
              The User's winnings in any Contest will reflect as credits to the User's Winnings Account. It is clarified that in no instance will Fantoss permit the transfer of any amounts in the User's accounts to any other category of account held by the user with Fantoss or any third party account, including a bank account held by a third party.
            %li
              Users shall be required to remit the required amount to Fantoss through the designated payment gateway. The payment made shall be credited to the User’s accounts and each time a User enters a round, the applicable amount towards participation in the round shall be debited from the User’s account. In debiting amounts from the User’s accounts towards the participation fee of such user in any round or Contest(s), Fantoss shall first debit the User’s Cash Bonus Account (in accordance with any rules or limitations relating to the use of Cash Bonus as may be prescribed by Fantoss and applicable at such time) , thereafter, any remaining amount of participation fee shall be debited from the User’s Unutilized Account and thereafter, any remaining amount of participation fee shall be debited from the User’s Winning Account. In case there is any amount remaining to be paid by the User in relation to such User’s participation in any round(s) or Contest(s), the User will be taken to the designated payment gateway to give effect to such payment. In case any amount added by the User through such payment gateway exceeds the remaining amount of participation fee, the amount in excess shall be transferred to the User’s ‘Unutilized’ Account and will be available for use in participation in any round(s) or Contest(s) or for withdrawal in accordance with these Terms and Conditions. Debits from the ‘Unutilized’ Account for the purpose of enabling a user’s participation in a Contest shall be made in order of the date of credit of amounts in the ‘Unutilized’ Account, and accordingly amounts credited into ‘Unutilized’ Account earlier in time shall be debited first.
            %li
              A User shall be permitted to withdraw any amounts credited into such User's 'Unutilized' Account for any reason whatsoever by contacting Fantoss Customer Support. All amounts credited into a User's 'Unutilized' Account must be utilised within 335 days of credit. In case any unutilised amount lies in the 'Unutilized' Account after the completion of 335 days from the date of credit of such amount, Fantoss reserves the right to forfeit such unutilised amount, without liability or obligation to pay any compensation to the User.
            %li
              Withdrawal of any amount standing to the User's credit in the Winnings Account may be made by way of a request to Fantoss but shall occur automatically upon completion of 335 days from the date of credit of such amount in the User's Winnings Account. In either case, Fantoss shall effect an online transfer to the User's bank account on record with Fantoss within a commercially reasonable period of time. Such transfer will reflect as a debit to the User's Winnings Account. Fantoss shall not charge any processing fee for the online transfer of such amount from the Winnings Account to the User's bank account on record with Fantoss. Users are requested to note that they will be required to provide valid photo identification and address proof documents for proof of identity and address in order for Fantoss to process the withdrawal request. The name mentioned on the User's photo identification document should correspond with the name provided by the User at the time of registration on Fantoss, as well as the name and address existing in the records of the User's bank account as provided to Fantoss. In the event that no bank account has been registered by the User against such User's account with Fantoss, or the User has not verified his/her User account with Fantoss, to Fantoss's satisfaction and in accordance with these Terms and Conditions, Fantoss shall provide such User with a notification to the User's email address as on record with Fantoss at least 30 days prior to the Auto Transfer Date, and in case the User fails to register a bank account with his/her User Account and/or to verify his/her User Account by the Auto Transfer Date, Fantoss shall be entitled to forfeit any amounts subject to transfer on the Auto Transfer Date. Failure to provide Fantoss with a valid bank account or valid identification documents (to Fantoss's satisfaction) may result in the forfeiture of any amounts subject to transfer in accordance with this clause.
            %li
              The Cash Bonus Account shall contain amounts gratuitously issued by Fantoss to the User for use in participation in any Contest(s) and no User shall be permitted to transfer or request the transfer of any amount in to the Cash Bonus Account. The usage of any amounts issued and present in the Cash Bonus Account shall be subject to the limitations and restrictions, including without limitation, restrictions as to time within which such amount must be used, as applied by Fantoss and notified to the User at the time of issue of such amount. The issue of any amount to the Cash Bonus Account is subject to the sole discretion of Fantoss and cannot be demanded by any User as a matter of right. The issue of any such amount by Deam11 on any day shall not entitle the user to demand the issuance of such amount at any subsequent period in time nor create an expectation of recurring issue of such amount by Fantoss to such User. The amount standing to the credit of the User in the Cash Bonus Account may be used by such User for the sole purpose of setting off against the participation fee in any Contest, in accordance with these Terms and Conditions. The amount standing to the credit of the User in such User's Cash Bonus Account shall not be withdraw-able or transferrable to any other account of the User, including the bank account of such User, or of any other User or person, other that as part of the winnings of a User in any Contest(s). In case the User terminates his/her account with Fantoss or such account if terminated by Fantoss, all amounts standing to the credit of such User in the Cash Bonus Account shall return to Fantoss and the User shall not have any right or interest in such amounts.
            %li
              Users agree that once they confirm a transaction on Fantoss, they shall be bound by and make payment for that transaction.
            %li
              The User acknowledges that transactions on Fantoss may take up to 24 hours to be processed. Any amount paid or transferred into the User's 'Unutilized' Account or Winnings Account may take up to 24 hours to reflect in the User's 'Unutilized' Account or Winnings Account balance. Similarly, money debited from the User's Cash Bonus Account, 'Unutilized' Account or Winnings Account may take up to 24 hours to reflect in the User's 'Unutilized' Account or Winnings Account balance. Users agree not to raise any complaint or claim against Fantoss in respect of any delay, including any lost opportunity to join any Contest or round due to delay in crediting of transaction amount into any of the User's accounts
            %li
              A transaction, once confirmed, is final and no cancellation is permissible. However, Fantoss may, at its sole and absolute discretion, permit a User to cancel a transaction and refund the amount paid:
              %ul
                %li
                  If the User sends a written request to Fantoss from the registered email Id to cancel such payment; or
                %li
                  If the payment is made for participation in the paid version(s) of the Contest(s), the cancellation request must be received at least 2 days prior to the commencement of the round in respect of which the payment is made; Fantoss shall not be liable to refund any amount thereafter.
                %li
                  Fantoss may, at its sole and absolute discretion, refund the amount to the User after deducting applicable cancellation charges and taxes. At the time of the transaction, Users may also be required to take note of certain additional terms and conditions and such additional terms and conditions shall also govern the transaction. To the extent that the additional terms and conditions contain any clause that is conflicting with the present terms and conditions, the additional terms and conditions shall prevail.

    %h5
      Tabulation of fantasy points
    %p
      Fantoss may obtain the score feed and other information required for the computation and tabulation of fantasy points from third party service provider(s). In the rare event that any error in the computation or tabulation of fantasy points, selection of winners, etc., as a result of inaccuracies in or incompleteness of the feed provided by the third party service provider comes to its attention, Fantoss shall use best efforts to rectify such error prior to the distribution of prizes. However, Fantoss hereby clarifies that it relies on the accuracy and completeness of such third party score/statistic feeds and does not itself warrant or make any representations concerning the accuracy thereof and, in any event, shall take no responsibility for inaccuracies in computation and tabulation of fantasy points or the selection of winners as a result of any inaccurate or incomplete scores/statistics received from such third party service provider. Users and Participants agree not to make any claim or raise any complaint against Fantoss in this respect.

    %h5
      Selection and Verification of Winners and Conditions relating to the Prizes
    %p
      %ul
        %li
          Selection of Winners 
          %ul
            %li
              Winners will be decided on the basis of the scores of the Teams in a designated round (which may last anywhere between one day and an entire tournament) of the Contest(s). The Participant(s) owning the Team(s) with the highest aggregate score in a particular round shall be declared the Winner(s). In certain pre-specified Contests, Fantoss may declare more than one Winner and distribute prizes to such Winners in increasing order of their Team's aggregate score at the end of the designated round of the Contest. The contemplated number of Winners and the prize due to each Winner in such Contest shall be as specified on the Contest page prior to the commencement of the Contest. 
            %li
              Participants creating Teams on behalf of any other Participant or person shall be disqualified.
            %li
              In the event of a tie, the winning Participants shall be declared Winners and the prize shall be equally divided among such Participants.
            %li
              Fantoss shall not be liable to pay any prize if it is discovered that the Winner(s) have not abided by these Terms and Conditions, and other rules and regulations in relation to the use of the Fantoss, Contest, "Fantasy Rules", etc.
        %li
          Contacting Winners
          %ul
            %li
              Winners shall be contacted by Fantoss or the third party conducting the Contest on the e-mail address provided at the time of registration. The verification process and the documents required for the collection of prize shall be detailed to the Winners at this stage. As a general practice, winners will be required to provide following documents:
              %ul
                %li
                  Photocopy of the User's PAN card;
                %li
                  Photocopy of a government-issued residence proof;
                %li
                  User's bank account details and proof of the same.
            %li
              Fantoss shall not permit a Winner to withdraw his/her prize(s)/accumulated winnings unless the above-mentioned documents have been received and verified within the time-period stipulated by Fantoss. The User represents and warrants that the documents provided in the course of the verification process are true copies of the original documents to which they relate.
            %li
              Participants are required to provide proper and complete details at the time of registration. Fantoss shall not be responsible for communications errors, commissions or omissions including those of the Participants due to which the results may not be communicated to the Winner.
            %li
              The list of Winners shall be posted on a separate web-page on the Fantoss. The winners will also be intimated by e-mail.
            %li
              In the event that a Participant has been declared a Winner on the abovementioned web-page but has not received any communication from Fantoss, such Participant may contact Fantoss within the time specified on the webpage.
        %li
          Verification process.
          %p
            Only those Winners who successfully complete the verification process and provide the required documents within the time limit specified by Fantoss shall be permitted to withdraw/receive their accumulated winnings (or any part thereof). Fantoss shall not entertain any claims or requests for extension of time for submission of documents. 
          %p
            Fantoss shall scrutinise all documents submitted and may, at its sole and absolute discretion, disqualify any Winner from withdrawing his accumulated winnings (or any part thereof) on the following grounds:
            %ul
              %li
                Determination by Fantoss that any document or information submitted by the Participant is incorrect, misleading, false, fabricated, incomplete or illegible; or
              %li
                Participant does not fulfill the Eligibility Criteria specified in Clause 10 above; or
              %li
                Any other ground.
        %li
          Taxes Payable
          %p
            All prizes shall be subject to deduction of tax ("TDS") as per the Income Tax Act 1961. Winners will be provided TDS certificates in respect of such tax deductions. The Winners shall be responsible for payment of any other applicable tax, including but not limited to, income tax, gift tax, etc. in respect of the prize money.
        %li
          Miscellaneous 
          %p
            The decision of Fantoss with respect to the awarding of prizes shall be final, binding and non-contestable.
          %p
            Participants playing the paid formats of the Contest(s) confirm that they are not residents of any of the following Indian states - Assam, Odisha or Telangana. If it is found that a Participant playing the paid formats of the Contest(s) is a resident of any of the abovementioned states, Fantoss shall disqualify such Participant and forfeit any prize won by such Participant. Further Fantoss may, at its sole and absolute discretion, suspend or terminate such Participant's account with Fantoss. Any amount remaining unused in the User's Game Account or Winnings Account on the date of deactivation or deletion shall be reimbursed to the User by an online transfer to the User's bank account on record with Fantoss, subject to the processing fee (if any) applicable on such transfers as set out herein.
          %p
            If it is found that a Participant playing the paid formats of the Contest(s) is under the age of eighteen (18), Fantoss shall be entitled, at its sole and absolute discretion, to disqualify such Participant and forfeit his/her prize. Further, Fantoss may, at its sole and absolute discretion, suspend or terminate such Participant's account. 
          %p
            To the extent permitted by law, Fantoss makes no representations or warranties as to the quality, suitability or merchantability of any prizes and shall not be liable in respect of the same. 
          %p
            Fantoss may, at its sole and absolute discretion, vary or modify the prizes being offered to winners. Participants shall not raise any claim against Fantoss or question its right to modify such prizes being offered, prior to closure of the Contest. 
          %p
            Fantoss will not bear any responsibility for the transportation or packaging of prizes to the respective winners. Fantoss shall not be held liable for any loss or damage caused to any prizes at the time of such transportation. 
          %p
            The Winners shall bear the shipping, courier or any other delivery cost in respect of the prizes. 
          %p
            The Winners shall bear all transaction charges levied for delivery of cash prizes. 
          %p
            All prizes are non-transferable and non-refundable. Prizes cannot be exchanged / redeemed for cash or kind. No cash claims can be made in lieu of prizes in kind.

    %h5
      Publicity
    %p
      Acceptance of a prize by the Winner constitutes permission for Fantoss, and its affiliates to use the Winner's name, likeness, voice and comments for advertising and promotional purposes in any media worldwide for purposes of advertising and trade without any further permissions or consents and / or additional compensation whatsoever.
    %p
      The Winners further undertake that they will be available for promotional purposes as planned and desired by Fantoss without any charge. The exact dates remain the sole discretion of Fantoss. Promotional activities may include but not be limited to press events, internal meetings and ceremonies/functions.

    %h5
      General Conditions
    %p
      If it comes to the notice of Fantoss that any governmental, statutory or regulatory compliances or approvals are required for conducting any Contest(s) or if it comes to the notice of Fantoss that conduct of any such Contest(s) is prohibited, then Fantoss shall withdraw and / or cancel such Contest(s) without prior notice to any Participants or winners of any Contest(s). Users agree not to make any claim in respect of such cancellation or withdrawal of the Contest, or contest it in any manner. 
    %p
      Employees, directors, affiliates, relatives and family members of Fantoss, will not be eligible to participate in any Contest(s).

    %h5
      Dispute and Dispute Resolution
    %p
      %ul
        %li
          The courts of competent jurisdiction at Mumbai shall have exclusive jurisdiction to determine any and all disputes arising out of, or in connection with, the Fantoss Services provided by Fantoss (including the Contest(s)), the construction, validity, interpretation and enforceability of these Terms and Conditions, or the rights and obligations of the User(s) (including Participants) or Fantoss, as well as the exclusive jurisdiction to grant interim or preliminary relief in case of any dispute referred to arbitration as given below. All such issues and questions shall be governed and construed in accordance with the laws of the Republic of India.
        %li
          In the event of any legal dispute (which may be a legal issue or question) which may arise, the party raising the dispute shall provide a written notification ("Notification") to the other party. On receipt of Notification, the parties shall first try to resolve the dispute through discussions. In the event that the parties are unable to resolve the dispute within fifteen (15) days of receipt of Notification, the dispute shall be settled by arbitration.
        %li
          The place of arbitration shall be New Delhi, India. All arbitration proceedings shall be conducted in English and in accordance with the provisions of the Arbitration and Conciliation Act, 1996, as amended from time to time.
        %li
          The arbitration award will be final and binding on the Parties, and each Party will bear its own costs of arbitration and equally share the fees of the arbitrator unless the arbitral tribunal decides otherwise. The arbitrator shall be entitled to pass interim orders and awards, including the orders for specific performance and such orders would be enforceable in competent courts. The arbitrator shall give a reasoned award.
        %li
          Nothing contained in these Terms and Conditions shall prevent Fantoss from seeking and obtaining interim or permanent equitable or injunctive relief, or any other relief available to safeguard Fantoss's interest prior to, during or following the filing of arbitration proceedings or pending the execution of a decision or award in connection with any arbitration proceedings from any court having jurisdiction to grant the same. The pursuit of equitable or injunctive relief shall not constitute a waiver on the part of Fantoss to pursue any remedy for monetary damages through the arbitration described herein.

    %h5
      Release and Limitations of Liability
    %p
      %ul
        %li
          Users shall access the Fantoss Services provided on Fantoss voluntarily and at their own risk. Fantoss shall, under no circumstances be held responsible or liable on account of any loss or damage sustained (including but not limited to any accident, injury, death, loss of property) by Users or any other person or entity during the course of access to the Fantoss Services (including participation in the Contest(s)) or as a result of acceptance of any prize.
        %li
          By entering the Fantoss and accessing the Fantoss Services provided therein, Users hereby release from and agree to indemnify Fantoss, and/ or any of its directors, employees, partners, associates and licensors, from and against all liability, cost, loss or expense arising out their access to the Fantoss Services including (but not limited to) personal injury and damage to property and whether direct, indirect, consequential, foreseeable, due to some negligent act or omission on their part, or otherwise.
        %li
          Fantoss accepts no liability, whether jointly or severally, for any errors or omissions, whether on behalf of itself or third parties in relation to the prizes.
        %li
          Users shall be solely responsible for any consequences which may arise due to their access of Fantoss Services by conducting an illegal act or due to non-conformity with these Terms and Conditions and other rules and regulations in relation to Fantoss Services, including provision of incorrect address or other personal details. Users also undertake to indemnify Fantoss and their respective officers, directors, employees and agents on the happening of such an event (including without limitation cost of attorney, legal charges etc.) on full indemnity basis for any loss/damage suffered by Fantoss on account of such act on the part of the Users.
        %li
          Users shall indemnify, defend, and hold Fantoss harmless from any third party/entity/organization claims arising from or related to such User's engagement with the Fantoss or participation in any Contest. In no event shall Fantoss be liable to any User for acts or omissions arising out of or related to User's engagement with the Fantoss or his/her participation in any Contest(s).
        %li
          In consideration of Fantoss allowing Users to access the Fantoss Services hosted on the Fantoss, to the maximum extent permitted by law, the Users waive and release each and every right or claim, all actions, causes of actions (present or future) each of them has or may have against Fantoss, its respective agents, directors, officers, business associates, group companies, sponsors, employees, or representatives for all and any injuries, accidents, or mishaps (whether known or unknown) or (whether anticipated or unanticipated) arising out of the provision of Fantoss Services or related to the Contests or the prizes of the Contests.

    %h5
      Disclaimers
    %p
      %ul
        %li
          To the extent permitted under law, neither Fantoss nor its parent/holding company, subsidiaries, affiliates, directors, officers, professional advisors, employees shall be responsible for the deletion, the failure to store, the mis-delivery, or the untimely delivery of any information or material.
        %li
          To the extent permitted under law, Fantoss shall not be responsible for any harm resulting from downloading or accessing any information or material, the quality of servers, games, products, Fantoss services or sites, cancellation of competition and prizes. Fantoss disclaims any responsibility for, and if a User pays for access to one of Fantoss's Services the User will not be entitled to a refund as a result of, any inaccessibility that is caused by Fantoss's maintenance on the servers or the technology that underlies our sites, failures of Fantoss's service providers (including telecommunications, hosting, and power providers), computer viruses, natural disasters or other destruction or damage of our facilities, acts of nature, war, civil disturbance, or any other cause beyond our reasonable control. In addition, Fantoss does not provide any warranty as to the content on the Fantoss(s). Fantoss(s) content is distributed on an "as is, as available" basis.
        %li
          Any material accessed, downloaded or otherwise obtained through Fantoss is done at the User's discretion, competence, acceptance and risk, and the User will be solely responsible for any potential damage to User's computer system or loss of data that results from a User's download of any such material.
        %li
          Fantoss shall make best endeavours to ensure that the Fantoss(s) is error-free and secure, however, neither Fantoss nor any of its partners, licensors or associates makes any warranty that:
          %ul
            %li
              the Fantoss(s) will meet Users' requirements,
            %li
              Fantoss(s) will be uninterrupted, timely, secure, or error free
            %li
              the results that may be obtained from the use of Fantoss(s) will be accurate or reliable; and
            %li
              the quality of any products, Fantoss Services, information, or other material that Users purchase or obtain through Fantosscom(s) will meet Users' expectations.
        %li
          In case Fantoss discovers any error, including any error in the determination of Winners or in the transfer of amounts to a User's account, Fantoss reserves the right (exercisable at its discretion) to rectify the error in such manner as it deems fit, including through a set-off of the erroneous payment from amounts due to the User or deduction from the User's account of the amount of erroneous payment. In case of exercise of remedies in accordance with this clause, Fantoss agrees to notify the User of the error and of the exercise of the remedy(ies) to rectify the same.
        %li
          To the extent permitted under law, neither Fantoss nor its partners, licensors or associates shall be liable for any direct, indirect, incidental, special, or consequential damages arising out of the use of or inability to use our sites, even if we have been advised of the possibility of such damages.
        %li
          Any Fantoss Services, events or Contest(s) being hosted or provided, or intended to be hosted or provided by Fantoss and requiring specific permission or authority from any statutory authority or any state or the central government, or the board of directors shall be deemed cancelled or terminated, if such permission or authority is either not obtained or denied either before or after the availability of the relevant Fantoss Services, events or Contest(s) are hosted or provided.
        %li
          To the extent permitted under law, in the event of suspension or closure of any Services, events or Contests, Users (including Participants) shall not be entitled to make any demands, claims, on any nature whatsoever.

    %h5
      Miscellaneous
    %p
      %ul
        %li
          Fantoss may be required under certain legislations, to notify User(s) of certain events. User(s) hereby acknowledge and consent that such notices will be effective upon Fantoss posting them on the Fantoss or delivering them to the User through the email address provided by the User at the time of registration. User(s) may update their email address by logging into their account on the Fantoss. If they do not provide Fantoss with accurate information, Fantoss cannot be held liable for failure to notify the User.
        %li
          Fantoss shall not be liable for any delay or failure to perform resulting from causes outside its reasonable control, including but not limited to any failure to perform due to unforeseen circumstances or cause beyond Fantoss's control such as acts of God, war, terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, network infrastructure failures, strikes, or shortages of transportation facilities, fuel, energy, labor or materials or any cancellation of any cricket/football/kabaddi match to which a Contest relates. In such circumstances, Fantoss shall also be entitled to cancel any related Contest(s) and to process an appropriate refund for all Participants.
        %li
          Fantoss's failure to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision.
        %li
          Users agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Fantoss or these Terms must be filed within thirty (30) days of such claim or cause of action arising or be forever barred.
        %li
          These Terms and Conditions, including all terms, conditions, and policies that are incorporated herein by reference, constitute the entire agreement between the User(s) and Fantoss Gaming Private Limited and govern your use of the Fantoss, superseding any prior agreements that any User may have with Fantoss Gaming Private Limited.
        %li
          If any part of these Terms and Conditions is determined to be indefinite, invalid, or otherwise unenforceable, the rest of these Terms and Conditions shall continue in full force.
        %li
          Fantoss reserves the right to moderate, restrict or ban the use of the Fantoss, specifically to any User, or generally, in accordance with Fantoss's policy/policies from time to time, at its sole and absolute discretion and without any notice.
        %li
          Fantoss may, at its sole and absolute discretion, permanently close or temporarily suspend any Fantoss Services (including any Contest(s)).

    %h5
      Standard Terms and Conditions of Promotions
    %p
      These standard terms and conditions of promotions (“Standard Terms”) supplement the terms of promotions undertaken on the Fantoss website and which reference these Standard Terms (each a “Promotion”):
      %ul
        %li
          Participation in any Promotion will be subject to a user complying with the Promotion Terms implemented by Fantoss in respect of such Promotion (“Promotion Terms”) and these Standard Terms. By participating in any Promotion, the participant further consents to and agrees to adhere with the terms and conditions of the Fantoss game and Fantoss’s privacy policy.
        %li
          The Promotions are only open to users in India. Participation in the Promotions by proxy is not permitted.
        %li
          Participation in the Promotions is voluntary.
        %li
          Participation in one Promotion does not guarantee that such user will be eligible to participate in another Promotion.
        %li
          A user may participate in a Promotion and avail of each Promotion only through one account. An existing user of Fantoss shall not register a new account or operate more than one user account with Fantoss or participate in a Promotion by registering a new account.
        %li
          Users intending to participate in a Promotion may be required to verify their mobile number and other account details in accordance with the Promotion Terms for such Promotion.
        %li
          Persons intending to participate in a Promotion, who have listed their phone numbers on the National Do Not Call Registry (“NDNC Registry”), shall de-register themselves from the NDNC Registry till the completion of such Promotion (including the delivery of Bonus Amount (if any) or the free-entry (if any) under such Promotion). Such persons agree not to make any claim or raise any complaint whatsoever against Fantoss in this respect. Please note that persons intending to participate in a Promotion who have not de-registered themselves from the NDNC Registry shall also have no right to make any claim or raise any complaints against Fantoss if they do or do not receive any call or SMS with respect to their participation and all other matters pertaining to a Promotion.
        %li
          The verification process may require you to submit personal information about yourself. You agree to receive communication from Fantoss. Any information collected in respect of your identity and contact details as part of a Promotion or otherwise in the course of your use of the Fantoss Website shall be subject to Fantoss’s Privacy Policy.
        %li
          Fantoss may, at its sole and absolute discretion, disqualify any user from a Promotion if such user engages in or it is found that such user has engaged in any illegal, unlawful or improper conduct (with regard to any of the Promotions or otherwise).
        %li
          The Bonus Amount (if any) deposited into the user’s account can be used to join cash contests and contests on Fantoss. However, the Bonus Amount (if any) cannot be: (i) used to join 2-member contests; or (ii) withdrawn or transferred to any other cash balance account held by you with Fantoss or to any third party account or to any bank/payment instrument account. THE BONUS AMOUNT (IF ANY) SHALL EXPIRE AND BE WITHOUT EFFECT AT THE END OF THIRTY DAYS FROM THE DATE OF CREDIT OF THE BONUS AMOUNT (IF ANY).
        %li
          The deposit of the Bonus Amount (if applicable) or the grant of the free-entry (if any) shall be at the sole discretion of Fantoss and shall be subject to the user’s compliance with these Standard Terms and the applicable Promotion Terms. Fantoss may substitute or change the Bonus Amount(if any) or free-entry (if any) offered under a Promotion at any time without notice. Users may not substitute Bonus Amount (if any) or free-entry (if any) for other items or exchange for cash.
        %li
          Fantoss reserves the right to withhold or forfeit the benefits of a Promotion (including a free-entry or Bonus Amount due to a participant or any prizes/winnings earned by the participant by using such benefits) in the event that it determines or reasonably believes that the participating user has violated these Standard Terms, the applicable Promotion Terms or the terms and conditions of the Fantoss fantasy game(s).
        %li
          Mere participation in a Promotion does not entitle the participant to receive any free-entry or Bonus Amount(s) indicated as a prize under such Promotion.
        %li
          The decision of Fantoss will be final and binding with respect to the Promotions, and the prizes therein and no correspondence, objection, complaints, etc. will be entertained in this regard.
        %li
          Each Promotion cannot be clubbed with any of other contest/offer/promotion that are running simultaneously and organised or conducted by Fantoss.
        %li
          Fantoss reserves the right to change/modify/or withdraw any of the Promotions and/or change these Standard Terms and/or the Promotion Terms without any prior notice of the same at its sole discretion.
        %li
          Fantoss does not make any commitment, express or implied, to respond to any feedback, suggestion and, or, queries of the participants of the Promotions.
        %li
          Notwithstanding anything contained herein, the aggregate liability of Fantoss to a participating user in relation to any Promotion for any reason whatsoever shall not exceed Rs. 50.
        %li
          The Promotions shall be governed by the laws of the Republic of India, and any disputes or disagreements in respect of this Promotion shall be subject to the exclusive jurisdiction of the courts of Mumbai.

    %h5
      Standard Terms and Conditions of "Cashback Promotion"
    %p
      This “Cashback Promotion” (“Promotion"), is open for participation to existing users of Fantoss who have not previously participated in a pay-to-play contest on Fantoss. Users are required to make a deposit and participate in their first pay-to-play cricket contest on Fantoss through the ‘Pro’ version of Fantoss’s mobile application for iOS and/or Android mobile devices, (collectively, the “Designated Platforms”), to be eligible to receive a Bonus Amount credited into their Cash Bonus Account, subject to these Terms.
    %p
      Terms and Conditions of the Promotion
      %ul
        %li
          Please note our terms and conditions (“Terms”) in this respect, as they govern your participation in the Promotion:
        %li
          Eligibility – Participation in the Promotion is only available to existing users of Fantoss who who are eligible to participate in the pay-to play Fantoss fantasy games (as per Fantoss’s terms and condition (accessible here) but who have not previously participated in a pay-to-play cricket contest on Fantoss. An ‘existing user’ of Fantoss shall mean a user who presently operates an account with the Fantoss or operated an account with Fantoss at any point of time.
        %li
          By participating in the Promotion, you agree to comply with these Terms, the Standard Terms and Conditions for Promotions and the terms and conditions of the Fantoss game (accessible here).
        %li
          The Promotion will be open for participation for such time periods as may be published from time to time on the Designated Platforms (each a “Promotion Period”).
        %li
          To participate in the Promotion, you must, during a Promotion Period and before the expiry of a Promotion Period participate in the First Game (defined below) before the expiry of the applicable Promotion Period. The Promotion is available only respect of the first pay-to-play Fantoss fantasy cricket contest that the participating user participates in through the Designated Platforms after the registration of such user’s account with Fantoss (“First Game”). Upon joining the First Game, you will receive an email on your email address as registered with your Fantoss account, which email will summarise the terms and mechanics of the Promotion.
        %li
          After the completion of your participation in the First Game and in the event that your winnings (if any) from the First Game are less than the entry fees paid by you to enter the First Game, you shall be eligible to receive a cash bonus equal to the entry fee paid by you for participation in the First Game after deduction of any winnings received by you pursuant to your participation in the First Game (“Bonus Amount”). The maximum Bonus Amount creditable under this Promotion shall be an amount of Rs. 101. A user shall be eligible to receive the Bonus Amount only in case the difference between the entry fees paid by the user for such user’s participation in the First Game and the winnings (if any) received by the user from such First Game is a positive figure.
        %li
          A participating user is required to pay the entire entry fee for the First Game from such user’s “Unutilized” account to be eligible to receive the Bonus Amount. In the event that a user pays the entry fee for the First Game, either in whole or in part, by using any amounts deposited in such user’s Cash Bonus Account, such user will not be eligible to receive the Bonus Amount.
        %li
          It is clarified that a participating user shall not be eligible to receive any Bonus Amount: (i) if such user registers or creates an account with Fantoss through Platforms other than the Designated Platforms; (ii) for any non-cricket pay-to-play Fantoss contest in which such user participates; or (iii) for any pay-to-play Fantoss contest in which such user participates through platforms other than the Designated Platforms; or (iv) for any pay-to-play Fantoss contest in which such user participates after the First Game or before or after the applicable Promotion Period; or (v) for any private pay-to-play Fantoss contest in which such user participates; or (vi) for any pay-to-play Fantoss contest in which such user participates and which remains unfilled prior to the commencement of the match to which it relates; or (vii) for any pay-to-play Fantoss contest in which such user participates and which is cancelled by Fantoss due to the match to which it relates being abandoned.
        %li
          In case you are eligible to receive the Bonus Amount after the completion of the First Game, you shall receive an email on your email address as registered with your Fantoss account. The email will specify the declared winners of the First Game and confirm the Bonus Amount you are eligible to receive, if any. The email will also contain a link which you will be prompted to click and which redirect you to your Cash Bonus Account page on Fantoss. The Bonus Amount, if any, credited to your Cash Bonus Account will be reflected in the list of recent transactions displayed on your Cash Bonus Account page.
        %li
          No person shall seek participation in the Promotion as a matter of right.

    %h5
      Standard Terms and Conditions of "Invite Friends" program.
    %p
      The Fantoss Invite Friends Program lets you invite friends to join Fantoss ("Program"). In the event that you and your referred friend meet the criteria and complete all the steps specified in these terms, you and your friend can earn a Cash Bonus from Fantoss of upto Rs. 100 ("Bonus Amount"), which Bonus Amount will be redeemable to join cash contests and contests through the ‘Pro’ version of Fantoss’s mobile application for the iOS and/or Android mobile devices ("Pro Application"). To participate in the Program, please note our terms and conditions ("Terms") in this respect, as they govern your participation in the Program:
      %ul
        %li
          Eligibility – All users who: (i) have an account registered with Fantoss's fantasy gaming platform ("Platform") which account has been verified by Fantoss; and (ii) are eligible to participate in the pay-to play Fantoss fantasy cricket or football game (as per the Fantoss's terms and conditions, accessible at www.fantoss.com/terms); and (iii) have downloaded and installed the Pro Application on their respective mobile devices, will be eligible to participate in the Program. Participation in the Program by proxy is not permitted.
        %li
          Participation in the Program is voluntary. A user shall not register or operate more than one user account with Fantoss and shall not participate in the Program with more than one user account with Fantoss.
        %li
          The Program will be open for participation from Indian Standard Time 00:00:01 hours on 25th April 2018 till IST 23:59:59 hours on 30th June 2018.
        %li
          By participating in the Program, you agree to and accept these Terms.
        %li
          For the purpose of participation in the Program, you are required to have the Pro Application downloaded and installed on your mobile device. Through the Pro Application, you will be provided with a unique link or code, which can be shared by you ("Invitor") with friends (each an "Invitee") for the purpose of inviting such friends to create and register an account with Fantoss and download the Pro Application. On receiving the link or code from the Invitor, the Invitee may either: (i) Click on the link, consequent to which such Invitee will be directed to a registration page and will be provided the option to register an account with Fantoss and download and install the Pro Application on his/her device; or (ii) download and install the Pro Application on his/her device independently, register for a Fantoss account through the Pro Application and enter the unique code shared by the Invitor where prompted in the Pro Application.
        %li
          The Invitor and the Invitee will be eligible to earn the Bonus Amount subject to (amongst other terms specified in these Terms): (i) the Invitee not being an existing user of Fantoss; and (ii) the Invitor and Invitee being eligible to participate in the pay-to play Fantoss fantasy cricket or football game; and (iii) the Invitee successfully registering for an account with Fantoss through the unique link or by using the unique code shared by the Invitor; and (iv) the Invitor and Invitee agreeing to the license agreement for the Pro Application and downloading and installing the Pro Application as available for the Invitor’s and Invitee’s respective mobile devices; and (v) the Invitor and Invitee verifying the Invitor’s and the Invitee’s respective mobile number as provided at the time of registration within thirty (30) days from the date on which Invitee registers for an account with Fantoss ("Verification Period"). For the purposes of these Terms, an 'existing user of Fantoss' shall mean a user who presently operates an account with the Platform or operated an account with the Platform at any point of time.
        %li
          An Invitee who is an existing user of Fantoss is not permitted to register a new account with the Platform for the purpose of availing of the Bonus Amount. Fantoss will determine in its sole discretion whether an Invitee is an existing user of Fantoss or not and take appropriate action.
        %li
          The verification process may require an Invitor/Invitee to submit personal information about the user (Invitor/Invitee) and documents identifying the Invitor/Invitee. The Invitor agrees to receive communication from Fantoss and to allow Fantoss to communicate with Invitees referred by you about the Invitor's participation in the Program. Any information collected in respect of the Invitor/Invitee as part of the Program or otherwise in the course of such person's use of the Website shall be subject to Fantoss's Privacy Policy (available here: fantoss.com/privacy for Indian users)
        %li
          The verification of an Invitor/Invitee shall be completed at the time of first withdrawal by the Invitor/Invitee from the Invitor’s/Invitee's 'Your Winnings' account or 'Your Deposits' account with the Platform. An Invitor/Invitee may voluntarily seek verification of the Invitor/Invitee by clicking on the 'Verify Now' tab of the Account Balance page of the Invitor/Invitee's account with the Platform. In the event that the Invitee opts to register for a Fantoss account through the Pro Application, the Invitee can verify his/her contact information at the time of registration.
        %li
          The Invitee will be eligible to earn a Bonus of Rs.100 (“Invitee Bonus”) upon a) successful verification of the Invitee’s mobile number. b) Provided that the Invitee completes the step mentioned in a) above within the Verification Period, the applicable Invitee Bonus shall be credited to the Invitee's Cash Bonus Account with the Platform, within fifteen (15) days of completion of successful verification of the Invitee’s mobile number. In the event that the Invitee fails to verify the Invitee's mobile number within the Verification Period or omits to provide documents requested for such verification, the Invitee shall not receive the applicable Invitee Bonus specified above due to the Invitee for completing such verification process.
        %li
          Invitor Bonus a) In order for an Invitor to be eligible to earn the Bonus Amount due to him/her ("Invitor Bonus"), the Invitor must also download and install the Pro Application on his/her mobile device verify his/her mobile number and email address prior to the completion of the Verification Period. b) The credit of the Invitor Bonus is contingent on the Invitee's participation in cash contests on the Platform. For every Rs. 1 spent by the Invitee to join cash contests on the Platform, the Invitor will be eligible to earn a bonus amount of Rs. 1 subject to a maximum of Rs. 100. As an example, in the event that the invitee uses Rs. 100 from his Cash Bonus Account or Unutilized Account to join a cash contest or contest through a Pro Application, the Invitor shall be eligible to receive Rs. 100 as Invitor Bonus upon the successful completion of such contest or contest, provided that the Invitor has successfully completed the requisite steps detailed in a) above that make him/her eligible to receive such amount. c) Subject to the provisions of a) and b) above, the applicable Invitor Bonus earned by the Invitor shall be credited to the Invitor's Cash Bonus Account within fifteen (15) days of the completion of the cash contest or contest in which Invitee has used the Invitee Bonus or within fifteen (15) days of the Invitor completing the relevant step verification process, as the case may be. In the event that the Invitor fails to complete any of the verification steps within the Verification Period or omits to provide documents requested for such verification, the Invitor shall not be eligible to earn the applicable Invitor Bonus. d) It is clarified that the Invitor will be eligible to receive the Invitor Bonus with respect to any contests or contests only in the event the winners are declared for such contests or contests only. In the event that the entry fee paid by the Invitee is refunded to the Invitee with respect to any cash contest or contest, for any reason, the Invitor shall not be eligible to receive any Invitor Bonus for such contest or contest.
        %li
          The Bonus Amounts credited to the Invitor/Invitee can be used by the Invitor/Invitee to join cash contests and contests offered by Fantoss through the Platform. No part of the Bonus Amount may be used to join private contests or be withdrawn or transferred to any other cash balance account held by the Invitor/Invitee with Fantoss or to any third party account or to any bank/payment instrument account. THE BONUS AMOUNT SHALL EXPIRE AND BE WITHOUT EFFECT AT THE END OF NINETY DAYS FROM THE DATE OF CREDIT OF THE BONUS AMOUNT.
        %li
          The deposit of the Bonus Amount shall be at the sole discretion of Fantoss and shall be subject to the Invitor’s/Invitee’s compliance with these Terms. Fantoss may substitute or change the Bonus Amount offered under the Program at any time without notice. An Invitor/Invitee may not substitute the amount of Bonus Amount or substitute offering for other items or exchange for cash.
        %li
          Fantoss reserves the right to:
          %ol
            %li
              withhold the deposit of the Bonus Amount; and/or
            %li
              forfeit any deposited Bonus Amount to an Invitor/Invitee or any prizes/winnings earned by the participant by using such Bonus Amount; and/or
            %li
              deactivate the accounts of the Invitor/Invitee, in the event that it determines or reasonably believes that such Invitor/Invitee has violated these Terms or the terms and conditions of the Fantoss fantasy games.
        %li
          Mere participation in the Program does not entitle the Invitor/Invitee to receive any Bonus Amount.
        %li
          Fantoss may, at its sole and absolute discretion, disqualify any Invitor/Invitee if such Invitor/Invitee engages in or it is found that such Invitor/Invitee has engaged in any illegal, unlawful or improper conduct (with regard to the Program or otherwise).
        %li
          The decision of Fantoss will be final and binding with regard to the Program, and the deposit of the Bonus Amount and no correspondence, objection, complaints, etc. will be entertained in this regard.
        %li
          This Program cannot be clubbed with any other contests/promotions/programs that are running simultaneously and organised or conducted by Fantoss.
        %li
          Fantoss reserves the right to change/modify/or withdraw the Program and/or change these terms and conditions without any prior notice of the same at its sole discretion.
        %li
          The Terms and Conditions, as applicable to the Fantoss's fantasy games and services, will apply to and govern the Program.
        %li
          Fantoss does not make any commitment, express or implied, to respond to any feedback, suggestion and, or, queries of the participants (Invitor/Invitee) of the Program.
        %li
          Notwithstanding anything contained herein, the aggregate liability of Fantoss to a participating Invitor/Invitee in relation to the Program for any reason whatsoever shall not exceed Rs.100.



