/ upcomingMatches

- result = @json['query']['results']

- if result.present?
  .fantoss-body-content
    - if params[:series_id].present?
      - series = result["Series"]
      - teams = result["Series"]['Participant']['Team']

      %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
        .mdl-card__actions
          = link_to "Back", "/upcomingData", class: ''
          .pull-right
            &nbsp;&nbsp;&nbsp;
            = link_to "See Raw", "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20cricket.series.upcoming%20where%20series_id%3D#{params[:series_id]}%20and%20output%3D%27complete%27%0A&format=json&env=store%3A%2F%2F0TxIGQMQbObzvU4Apia0V0&callback=", target: '_blank', target: '_blank'
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            = link_to "Sync to db", sync_to_db_api_data_path(series_id: params[:series_id]), class: ''

          / %a#add_team.pull-right.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{ href: new_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id), "data-no-turbolink" => true } ADD TEAM
          / .mdl-tooltip{:for => "add_team"} Add team to play
      %aside.top-page-heading.uppercase
        = series["SeriesName"]
        %h6
          START:
          = DateTime.parse(series["StartDate"]).strftime('%a, %b %d, %Y %H:%M %Z')
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          END :
          = DateTime.parse(series["EndDate"]).strftime('%a, %b %d, %Y %H:%M %Z')

      %br/
      %h5 SQUAD
      .mdl-cell.mdl-cell--12-col.mdl-cell--4-col-tablet.fan-mobile-full-card
        - teams.each do |team|
          %h5
            = team['Name']
          - if team['Squad'].present?
            %small= "#{team['Squad']['Player'].count} players"
            %p
              - team['Squad']['Player'].each do |pl|
                = "#{pl['FirstName']} #{pl['LastName']}, "
          - else
            %small Squad not available
      %br/
      %h6 SCHEDULE
      %article.text-left.md-row.mdl-grid
        %table.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.text-left
          %thead
            %tr
              %th id
              %th type
              %th home
              %th away
              %th StartDate
              %th EndDate
          %tbody
            - if series["Schedule"]["Match"].instance_of? Array
              - series["Schedule"]["Match"].each do |match|
                %tr
                  %td= match["matchid"]
                  %td= match["mtype"]
                  - match["Team"].each do |tt|
                    %td= tt["Team"]
                  %td= DateTime.parse(match["StartDate"]).strftime('%a, %b %d, %Y %H:%M %Z')
                  %td= DateTime.parse(match["EndDate"]).strftime('%a, %b %d, %Y %H:%M %Z')
                  / %td= link_to "Refresh Score", refresh_player_score_api_data_path(match_id: match["matchid"]), style: 'float:right', class: 'btn btn-sm', method: :put
            - else
              %tr
                %td= series["Schedule"]["Match"]["matchid"]
                %td= series["Schedule"]["Match"]["mtype"]
                - series["Schedule"]["Match"]["Team"].each do |tt|
                  %td= tt["Team"]
                %td= DateTime.parse(series["Schedule"]["Match"]["StartDate"]).strftime('%a, %b %d, %Y %H:%M %Z')
                %td= DateTime.parse(series["Schedule"]["Match"]["EndDate"]).strftime('%a, %b %d, %Y %H:%M %Z')


      / #########################################################
    - else
      %aside.top-page-heading.uppercase
        = "#{result["Series"].count} total upcoming matches"
      %article.text-left.md-row.mdl-grid
        .mdl-cell.mdl-cell--12-col.mdl-cell--4-col-tablet.fan-mobile-full-card
          %table.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
            %thead
              %tr
                %th ID
                %th Name
                %th StartDate
                %th EndDate
                %th Action
                %th See Raw
            %tbody
              - result["Series"].each do |series|
                %tr
                  %td= series["SeriesId"]
                  %td= series["SeriesName"]
                  %td= DateTime.parse(series["StartDate"]).strftime('%a, %b %d, %Y %H:%M %Z')
                  %td= DateTime.parse(series["EndDate"]).strftime('%a, %b %d, %Y %H:%M %Z')
                  %td= link_to "Show", "/upcomingData?series_id=#{series["SeriesId"]}"
                  %td= link_to "See Raw", "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20cricket.series.upcoming%20where%20series_id%3D#{series["SeriesId"]}%20and%20output%3D%27complete%27%0A&format=json&env=store%3A%2F%2F0TxIGQMQbObzvU4Apia0V0&callback=", target: '_blank', target: '_blank'

- else
  .container
    %h5 No result returned

