Welcome <%= @user.username %> to fantoss. Aapko Milte hai Rs15 fantoss ki taraf se. KHELO JEETO KAMAO. Abhi Team Banao <%= UrlShortnerService.shorten('https://fantoss.com/?utm_source=SMS&utm_medium=ReferralWelcome') %>
