Congrats, Apke Dost- <%= @user.phone %> ne fantoss par apni pehli league khel kar aapko dilaye hai Rs.<%= @referral_credit %>. KHELO JEETO KAMAO, Abhi Team Banao <%= UrlShortnerService.shorten('https://fantoss.com/?utm_source=SMS&utm_medium=LeagueReferralEarned') %>
