Congrats! Apke Dost(<%= @user.phone %>) ne apko fantoss par dilaye hai Rs10. Ab Pao Extra 10% (Upto Rs500) apne dost ki agli league khelne par <%= UrlShortnerService.shorten('https://fantoss.com/?utm_source=SMS&utm_medium=ReferralEarned') %>
