<%= render 'header_buttons' %>

<h1 style="padding: 10px;">Leagues and Users Statistics: <small>Select date range to search for leagues <em>Start Date</em> within the range.</small></h1>

<div class = "container">
  <div style="padding: 20px 10px;">
  <%= link_to 'Total', leagues_admin_data_path, class: "btn btn-primary", method: :get %>
  <%= link_to 'Even League', league_odd_even_admin_data_path(val: 'even'), class: "btn btn-primary", method: :get %>
  <%= link_to "Odd League", league_odd_even_admin_data_path(val: 'odd'), class: "btn btn-primary", method: :get %>
</div>
<div style='padding:10px'>

  <%= render partial: 'data_search_form', locals: { submit_path: leagues_admin_data_path } %>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <% (League::ENTRY_FEE_ENUM + ['all', 'free', 'paid']).each do |l_entry_fee| %>
          <th>
            <table class="table">
              <thead>Leagues & Users count for <%= l_entry_fee %> League</thead>
              <tbody>
              <tr>
                <td>Leagues</td>
                <td>Unique Users</td>
              </tr>
              </tbody>
            </table>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @leagues_data.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <% (League::ENTRY_FEE_ENUM + ['all', 'free', 'paid']).each do |l_entry_fee| %>
            <td>
              <table class="table">
                <tr>
                  <td><%= value[:total_leagues_count]["#{l_entry_fee}"] %></td>
                  <td><%= value[:total_users_count]["#{l_entry_fee}"] %></td>
                </tr>
              </table>
            </td>
          <% end %>
        </tr>
      <% end %>

      <tr style="font-weight: bold; color: crimson;">
        <td>TOTAL</td>
        <% (League::ENTRY_FEE_ENUM + ['all', 'free', 'paid']).each do |l_entry_fee| %>
            <td>
              <table class="table">
                <tr>
                  <td><%= @total_leagues_count["#{l_entry_fee}"] %></td>
                  <td><%= @total_users_count["#{l_entry_fee}"] %></td>
                </tr>
              </table>
            </td>
          <% end %>
      </tr>

      <tr style="font-weight: bold; color: green;">
        <td>AVERAGE</td>
        <% (League::ENTRY_FEE_ENUM + ['all', 'free', 'paid']).each do |l_entry_fee| %>
            <td>
              <table class="table">
                <tr>
                  <td><%= (@total_leagues_count["#{l_entry_fee}"]/@total_records).round(3) %></td>
                  <td><%= (@total_users_count["#{l_entry_fee}"]/@total_records).round(3) %></td>
                </tr>
              </table>
            </td>
          <% end %>
      </tr>

    </tbody>
  </table>
</div>
