<%= render 'header_buttons' %>

<h1 style="padding: 10px;">Leagues and Users Statistics: <small>Select date range to search for leagues <em>Start Date</em> within the range.</small> <%= @league_type %>
</h1>

<div class = "container">
  <div style="padding: 20px 10px;">
  <%= link_to 'Total', leagues_admin_data_path, class: "btn btn-primary", method: :get %>
  <%= link_to 'Even League', league_odd_even_admin_data_path(val: 'even'), class: "btn btn-primary", method: :get %>
  <%= link_to "Odd League", league_odd_even_admin_data_path(val: 'odd'), class: "btn btn-primary", method: :get %>
</div>
<div style='padding:10px'>

  <%= render partial: 'data_search_form', locals: { submit_path: league_odd_even_admin_data_path(val: "#{@league_type}") } %>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <% @entry_fee_size.each do |l_entry_fee| %>
          <th>
            <table class="table">
              <thead>Leagues & Users count for <%= l_entry_fee %> League</thead>
              <tbody>
              <tr>
                <td>Leagues</td>
                <td>Unique Users</td>
              </tr>
              </tbody>
            </table>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @date_array.each do |value| %>
        <tr>
          <td><%= value %></td>
          <% @entry_fee_size.each do |l_entry_fee| %>
            <td>
              <table class="table">
                <tr>
                  <td><%= @league_count[[value, l_entry_fee.to_i]] || '0' %></td>
                  <td><%= @unique_user_count[[value, l_entry_fee.to_i]] || '0' %></td>
                </tr>
              </table>
            </td>
          <% end %>
        </tr>
      <% end %>

      <tr style="font-weight: bold; color: crimson;">
        <td>TOTAL</td>
        <% @entry_fee_size.each do |l_entry_fee| %>
            <td>
              <table class="table">
                <tr>
                  <td><%= @league_count_total[l_entry_fee.to_i] || '0' %></td>
                  <td><%= @unique_user_total[l_entry_fee.to_i] || '0' %></td>
                </tr>
              </table>
            </td>
          <% end %>
      </tr>

    </tbody>
  </table>
</div>
