<%= render 'header_buttons' %>

<h1 style="padding: 10px;">Money Transaction Details i.e. How much actual money is withdrawn by the users</h1>
<div style='padding:10px'>

  <%= render partial: 'data_search_form', locals: { submit_path: money_transactions_admin_data_path } %>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Total Withdrawl Requests</th>
        <th>Total Successful Withdrawl Requests</th>
        <th>Total Amount Withdrawn</th>
        <th>Add to Wallet Deposits</th>
      </tr>
    </thead>

    <tbody>
      <% @money_transactions.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value[:total_requests] %></td>
          <td><%= value[:success_requests] %></td>
          <td><%= value[:success_amount] %></td>
          <td><%= value[:credited_amount] %></td>
        </tr>
      <% end %>

      <tr style="font-weight: bold;">
        <td>TOTAL</td>
        <td><%= @total_requests %></td>
        <td><%= @success_requests %></td>
        <td><%= @success_amount %></td>
        <td><%= @credited_amount %></td>
      </tr>

      <tr style="font-weight: bold;">
        <td>TOTAL</td>
        <td><%= (@total_requests/@total_records).round(3) %></td>
        <td><%= (@success_requests/@total_records).round(3) %></td>
        <td><%= (@success_amount/@total_records).round(3) %></td>
        <td><%= (@credited_amount/@total_records).round(3) %></td>
      </tr>
    </tbody>
  </table>
</div>
