<%= render 'header_buttons' %>

<div class="panel">
  <div class="panel-heading">
    <h1>Stats</h1>
  </div>

  <div class="panel-body">
    <table class="table" style="width: 50%;">
      <% @stats.each do |key, value| %>
        <tr>
          <th><%= key.to_s.humanize %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
