<%= render 'header_buttons' %>

<h1 style="padding: 10px;">Upcoming Matches Details</h1>
<div style='padding:10px'>

  <% # render partial: 'data_search_form', locals: { submit_path: upcoming_matches_admin_data_path } %>
  <hr>
  <% if params['api_provider'] == 'goalserve' || params['api_provider'] == '' %>
    <div class="panel-group" id="accordion">
        <% @tournaments.each do |key, tournament| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to 'Sync to DB', sync_admin_data_path(api_series_ids: key, api_provider: :goalserve), class: 'btn btn-success' %>
              <%= link_to 'Sync Squad', sync_squad_admin_data_path(api_file_path: tournament['squads_file'], api_provider: :goalserve), class: 'btn btn-info' %>
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= key %>">
                <%= "#{ tournament['name'] } | #{ tournament['series_file'] } | #{ tournament['squads_file'] } | #{ key }" %>
              </a>
            </div>

            <div id="<%= key %>" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Actions</th>
                        <th>Series</th>
                        <th>Date</th>
                        <th>Match Type</th>
                        <th>Match #</th>
                        <th>Info</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% tournament['matches'].each do |value| %>
                        <tr>
                          <% if value.present? %>
                            <td><%= link_to 'Sync this Match', sync_admin_data_path(api_match_ids: value['match']['id'], api_series_ids: key) %></td>
                            <td><%= value['name'] %></td>
                            <td><%= "#{ value['match']['date'] } - #{ value['match']['time'] }" %></td>
                            <td><%= value['match']['type'] %></td>
                            <td><%= value['match']['match_num'] %></td>
                            <td><%= "id: #{ value['match']['id'] } | #{ value['match']['matchinfo']['info'].map { |info| info['name'].to_s + ': ' + info['value'].to_s }.join(' | ') }" %></td>
                          <% else %>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  <%else %>
   <%#= p @tournaments %>
    <% @tournaments.each do |league_id,tournament| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%#= link_to 'Sync to DB', sync_admin_data_path(api_series_ids: league_id, api_provider: 'scorespro'), class: 'btn btn-success' %>
              <%= link_to 'Sync Squad', sync_scorespro_squad_admin_data_path(league_id: league_id, api_provider: 'scorespro'), class: 'btn btn-success' %>
              <%= link_to 'Show Squad Details', "http://data2.scorespro.com/exporter/?state=clientUpdate&usr=#{ApplicationYML['env']['SCORES_PRO']['username']}&pwd=#{ApplicationYML['env']['SCORES_PRO']['password']}&type=29&s=14&l=#{league_id}", class: 'btn btn-info', target: "_blank"%>
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= league_id %>">
                <%= tournament.first["Information"]["parentCompetition"]['__content__'] rescue 'Not Present' %>
              </a>
              <div id="<%= league_id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Actions</th>
                          <th>Series</th>
                          <th>Match Id</th>
                          <th>Date</th>
                          <th>Match Type</th>
                          <th>Match #</th>
                          <th>Info</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% tournament.each do |value| %>
                          <tr>
                            <% if value.present? %>
                              <td><%= link_to 'Sync this Match', sync_match_admin_data_path(api_match_ids: value['id'], api_series_ids: league_id, data: value, api_provider: 'scorespro' ) %></td>
                              <td><%= value['Information']['parentCompetition']['__content__'] rescue '' %></td>
                              <td><%= value['id'] %></td>
                              <td><%= value['start_time'] %></td>
                              <td><%= value['match_type']%></td>
                              <td><%= value['Information']['round'] rescue 'N/A' %></td>
                              <td><%= "#{value['Home']}" + "#{value['Away']}" %></td>
                            <% else %>
                              <td>NA</td>
                              <td>NA</td>
                              <td>NA</td>
                              <td>NA</td>
                              <td>NA</td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <% end %>
  <%end %>


</div>
