var block_element = "<%= @block %>";
<% if @match.ongoing? || @match.completed? || @match.starting? %>
  $(block_element).html("<%= escape_javascript(render 'layouts/players_card', players: @user_team.players.includes(:player_scores, :participant_team), match: @match, user_team: @user_team) %>"); 
  $(window).trigger("lookup");
  $("img").unveil();  
<% else %>
  $(block_element).html("<h5>Challenger's Team will be displayed once the match starts. Refresh page to see your team.</h5>"); 
<% end %>
