.live-match-page
  .fantoss-body-content
    .fantoss-card-container.mdl-grid
      .top-page-heading.mdl-cell.mdl-cell--12-col
        Leaderboard
        %a.points-link.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-shadow--3dp{href: '/rules', target: '_blank'} Rules
      %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.step-section
        = render 'layouts/match_header', m: @match

    .mdl-grid
      %article#latest_score.mdl-cell.mdl-cell--12-col
        = render 'user_teams/ut_display', m: @match, ut: @user_teams


:javascript
  load_slider = function(){
    $('.bxslider').each(function(i){
      var slideWidth = parseInt($(".slider-row").width()/3)-16;
      var min_slide = 3;
      var margin = 21;
      var win_width = $(window).width();

      if( win_width < 600 ) {
        slideWidth = parseInt($(".slider-row").width()/2)-7;
        min_slide = 2;
        margin = 10;
      }
      $(this).bxSlider({
        minSlides: min_slide,
        maxSlides: 4,
        slideWidth: slideWidth,
        slideMargin: margin,
        pager : false
      });
    });
  };

- content_for :on_ready do
  load_slider();
  $("input.challenge_link").on("click", function () {
  $(this).select();
  });
  $(window).trigger("lookup");
  $("img").unveil();

