.how-to-play-active {
  height: 100%;
  overflow: hidden;
}
.overlay,
#how-to-pay-guide {
  background: rgba(0,0,0,0.8);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.overlay {
  position: fixed;
  z-index: 99;
  display: none;
}
#how-to-pay-guide {
  position: absolute;
  z-index: 999;
  text-align: center;
  transition:all 0.3s;
  transform:scale(0);
  opacity: 0;
}
.how-to-play-active #how-to-pay-guide{
  transform:scale(1); 
  opacity: 1;
}
#how-to-pay-guide .overlay {
  display: block;
}
.guide-slide {
  height: calc(100vh);
}
#how-to-pay-guide img {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
#how-to-pay-guide .bx-prev {
  left: 5px;
}
#how-to-pay-guide .bx-next {
  right: 5px;
  left: auto;
}
#how-to-pay-guide .bx-controls .bx-pager{
  z-index: 9999;
  top: 98%;
}
#how-to-pay-guide .bx-wrapper .bx-pager.bx-default-pager a,
#how-to-pay-guide .bx-wrapper .bx-pager.bx-default-pager a:hover {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: rgba(128,143,148,0.6);
}
#how-to-pay-guide .bx-wrapper .bx-pager.bx-default-pager a:hover{
  opacity: 0.8;
}
#how-to-pay-guide .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: rgba(128,143,148,1);
}
#how-to-pay-guide .close-popup {
  height: 30px;
  width: 30px;
  min-width: 30px;
  background: #fff;
  z-index: 99;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
}
.close-popup:hover{
  background-color: #fff;
}
@media (min-width: 767px){
  .guide-slide{
    height: calc(90vh);
    padding: 40px 0 0;
  }
}