<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(page.resource.errors.count, "error") %>
        prohibited this <%= page.resource_name %> from being saved:
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <!-- <div class="field-unit field-unit--<%= attribute.html_class %>">
      <% # render_field attribute, f: f %>
    </div> -->
  <% end -%>



  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :code %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :code, placeholder: 'e.g. IPL2017', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--number">
    <div class="field-unit__label">
      <%= f.label :discount_value %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :discount_value, type: :number, min: '0', placeholder: 'e.g. 10', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :discount_type %>
    </div>
    <div class="field-unit__field">
      <%= f.select :discount_type, Coupon::DISCOUNT_TYPES, { include_blank: '--Select--' }, class: 'form-control', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :concession_type %>
    </div>
    <div class="field-unit__field">
      <%= f.select :concession_type, Coupon::CONCESSION_TYPES, { include_blank: '--Select--' }, class: 'form-control', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--number">
    <div class="field-unit__label">
      <%= f.label :maximum_discount_value %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :maximum_discount_value, type: :number, min: '0', placeholder: 'e.g. 350', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--number">
    <div class="field-unit__label">
      <%= f.label :coupon_message %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :coupon_message, placeholder: 'e.g. Coupon applied successfully :)' %>
    </div>
  </div>

  <div class="field-unit field-unit--date-time">
    <div class="field-unit__label">
      <%= f.label :start_date %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :start_date, class: 'datetimepicker', placeholder: 'Select from datepicker' %>
    </div>
  </div>

  <div class="field-unit field-unit--date-time">
    <div class="field-unit__label">
      <%= f.label :end_date %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :end_date, class: 'datetimepicker', placeholder: 'Select from datepicker' %>
    </div>
  </div>

  <div class="field-unit field-unit--number">
    <div class="field-unit__label">
      <%= f.label :maximum_redeem_count %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :maximum_redeem_count, type: :number, min: '0', placeholder: 'e.g. 100' %>
    </div>
  </div>

  <div class="field-unit field-unit--number">
    <div class="field-unit__label">
      <%= f.label :per_user_count %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :per_user_count, type: :number, min: '1', placeholder: 'e.g. 9' %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :user_validation_eval_string %>
    </div>
    <div class="field-unit__field">
      <code>User.</code>
      <%= f.text_field :user_validation_eval_string, style: 'display: inline-block; width: auto;', placeholder: "e.g. where(username: 'sachin')", disabled: action_name == 'edit' %>
      <code>.pluck('users.id')</code>
      <div><em>Please consult a developer if you don't know about the above.</em></div>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :league_validation_eval_string %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :league_validation_eval_string, placeholder: 'e.g. 15 50 250', disabled: action_name == 'edit' %>
      <em>
        <span>Enter leagues entry fees seperated with <strong>Space</strong>.</span>
      </em>
      <span>E.g. <code>100 250 500</code></span>
      <div><em>Available values are:</em>
        <% League::PRIZE_AGAINST_FEE.keys.each do |entry_fee| %>
          <%= "<code>#{ entry_fee }</code>".html_safe %>
        <% end  %>
        .
      </div>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :league_type %>
    </div>
    <div class="field-unit__field">
      <%= f.select :league_type, Coupon::DISCOUNTED_LLEAGUES, { include_blank: '--Select--' }, class: 'form-control', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :match_validation_eval_string %>
    </div>
    <div class="field-unit__field">
      <code>Match.</code>
      <%= f.text_field :match_validation_eval_string, style: 'display: inline-block; width: auto;', placeholder: "e.g. where('created_at > ?', DateTime.new(2017, 1, 1))", disabled: action_name == 'edit' %>
      <code>.pluck('matches.id')</code>
      <div><em>Please consult a developer if you don't know about the above.</em></div>
    </div>
  </div>

  <div class="field-unit field-unit--belongs-to">
    <div class="field-unit__label">
      <%= f.label :tournament_id %>
    </div>
    <div class="field-unit__field">
      <%= f.select :tournament_id, Tournament.where('end_time > ?', Time.current).pluck(:name, :id), { include_blank: '--Select--' }, class: 'form-control', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="field-unit field-unit--belongs-to">
    <div class="field-unit__label">
    </div>
    <div class="field-unit__field">
      <em>PS: Both tournament and match <strong>cannot</strong> be present at the same time.</em>
    </div>
  </div>

  <div class="field-unit field-unit--belongs-to">
    <div class="field-unit__label">
      <%= f.label :match_id %>
    </div>
    <div class="field-unit__field">
      <%= f.select :match_id, Match.where('start_time > ?', Time.current).pluck(:title, :id), { include_blank: '--Select--' }, class: 'form-control', disabled: action_name == 'edit' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>

<% end %>
