%ul.nav.nav-tabs
  = nav_link edit_user_registration_path do
    = I18n.t('account.edit.link')
    %span.chevron
  = nav_link user_authentications_path(current_user) do
    = I18n.t('auth.edit.link')
    %span.chevron

    / = link_to I18n.t('account.edit.link'), edit_user_registration_path, class: ( request.original_fullpath == edit_user_registration_path ?  'control-item active' : 'control-item' )
    / = link_to I18n.t('auth.edit.link'), user_authentications_path(current_user), class: ( request.original_fullpath == user_authentications_path(current_user) ?  'control-item active' : 'control-item' )
