#pageLoader{ style:"display:none;position:absolute;left:48%;top:1%;z-index:30001;padding:4px;border-radius:50%;background:#FFF;box-shadow: 0 2px 2px 0 rgba(253, 253, 253, 0.05),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);"}
  .mdl-spinner.mdl-js-spinner.is-active

- content_for :on_ready do
  mixpanel.init("#{Rails.application.config.settings.env['MIXPANEL']}");

  - if controller.controller_name == "pages" && controller.action_name == "intro"
    mixpanel.track("Landing page");

  - if controller.controller_name == "league" && controller.action_name == "join_via_code"
    mixpanel.track("Challenge page");

  - if controller.controller_name == "pages" && controller.action_name == "location_disabled"
    mixpanel.track("Location disabled", { "remote_ip": "#{params[:remote_ip]}", "state": "#{params[:ip_state]}" });

  - if user_signed_in?
    mixpanel.identify("#{current_user.id}");
    mixpanel.people.set({
    "$email": "#{current_user.email}",
    "$first_name": "#{current_user.first_name}",
    "$last_name": "#{current_user.last_name}",
    "$phone": "#{current_user.phone}",
    "$sign_in_count": "#{current_user.sign_in_count}",
    "$created": "#{current_user.created_at}",
    "$last_login": new Date()
    });

    - if controller.controller_name == "pages" && controller.action_name == "home"
      mixpanel.track("Home page");

    - if controller.controller_name == "match" && controller.action_name == "show"
      mixpanel.track("Match show page", { "match": "#{@match.id}-#{@match.team_names}" });

    - if controller.controller_name == "match" && controller.action_name == "leaderboard"
      mixpanel.track("Match leaderboard page", { "match": "#{@match.id}-#{@match.team_names}" });

    - if controller.controller_name == "user_teams" && controller.action_name == "new"
      mixpanel.track("UserTeam new page", { "match": "#{@match.id}-#{@match.team_names}" });

    - if controller.controller_name == "user_teams" && controller.action_name == "edit"
      mixpanel.track("UserTeam edit page", { "match": "#{@match.id}-#{@match.team_names}" });

    - if controller.controller_name == "league" && controller.action_name == "index"
      mixpanel.track("LeaguesIndex page", { "match": "#{@match.id}-#{@match.team_names}" });

    - if params[:new_team]
      - if params[:new_team]=="challenge"
        mixpanel.track("UserTeam created from challenge", { "match": "#{@match.id}-#{@match.team_names}" });
      - else
        mixpanel.track("UserTeam created", { "match": "#{@match.id}-#{@match.team_names}" });


    - if controller.controller_name == "users" && controller.action_name == "account"
      mixpanel.track("User account page");

    - if controller.controller_name == "league" && controller.action_name == "join_for_free"
      mixpanel.track("Free league Joined", { "match": "#{@match.id}-#{@match.team_names}" });

    - if controller.controller_name == "league" && controller.action_name == "join"
      mixpanel.track("Rs. #{params['entry']} league join page", { "match": "#{@match.id}-#{@match.team_names}" });

    - if controller.controller_name == "payment" && controller.action_name == "new"
      mixpanel.track("Rs. #{@user_transaction.params['entry']} league pay init", { "match": "#{@user_transaction.match.id}-#{@user_transaction.match.team_names}", "mode" : "web:paytm" });

    - if controller.controller_name == "payment" && controller.action_name == "wallet"
      mixpanel.track("Rs. #{@user_transaction.params['entry']} league pay init", { "match": "#{@user_transaction.match.id}-#{@user_transaction.match.team_names}", "mode" : "web:wallet"  });

    - if controller.controller_name == "payment" && controller.action_name == "mobile"
      mixpanel.track("Rs. #{@user_transaction.params['entry']} pay init", { "mode" : "web:mobile" });

    - if controller.controller_name == "payment" && controller.action_name == "success"
      mixpanel.track("Rs. #{@user_transaction.params['entry']} league pay success", { "match": "#{@user_transaction.match.id}-#{@user_transaction.match.team_names}", "mode" : "web:paytm"  });
      mixpanel.people.track_charge("#{@user_transaction.params['txn_amount']}");

    - if controller.controller_name == "payment" && controller.action_name == "failure"
      mixpanel.track("Rs. #{@user_transaction.params['entry']} league pay failure", { "match": "#{@user_transaction.match.id}-#{@user_transaction.match.team_names}", "mode" : "web:paytm" });

  - else
    - if controller.controller_name == "pages" && controller.action_name == "home"
      mixpanel.track("Home logged out page");


