/ #how-to-pay-guide
/   %button.mdl-button.mdl-js-button.mdl-button--fab.close-popup
/     %i.material-icons.close-icon close
/   .guide-slider
/     .guide-slide
/       .embed-container
/         %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/rwof_2PU6iU"}
/         / %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/F69a8bTQUXs"} 480
/         / %iframe{:src => "https://www.youtube.com/embed/pzMeMmUSMx8", :style => "border:0;"} 240
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay01.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay02.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay03.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay04.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay05.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay06.jpg")}/
/     .guide-slide
/       %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay07.jpg")}/
/   #points_rules{style: 'height:100%;'}
/     %img{:alt => "guide", "data-src" => asset_url("slider_images/howtoplay04.jpg")}/
/   #refer_earn{style: 'height:100%;'}
/     %img{:alt => "guide", "data-src" => asset_url("slider_images/refer_earn-min.png")}/


%dialog#modal-example.mdl-dialog.dialog.mdl-shadow--16dp
  .mdl-dialog__content.text-center
    / %p.bold.size-16.popup-heading Play With Friends And Earn 10% of their Entry Fee
    %p.bold.size-16.popup-heading Challenge friends in a private league
    %p.bold How many friends you want to play with
    .mdl-tabs__tab-bar.justify-tabs
      %a.mdl-tabs__tab.is-active.p-tab{"data-play" => "2", :href => '#private_league_2'} 2
      %a.mdl-tabs__tab.p-tab{"data-play" => "4", :href => '#private_league_4'} 4
      %a.mdl-tabs__tab.p-tab{"data-play" => "8", :href => '#private_league_8'} 8
    / #private_league_2.mdl-tabs__panel.hide
    / #private_league_4.mdl-tabs__panel.hide
    / #private_league_8.mdl-tabs__panel.hide
    %p.text-center.bold Select entry fee
    .mdl-tabs__tab-bar.small-tabs
      %a.mdl-tabs__tab.r-tab.is-active{"data-rs" => "0", "data-prize" => "0", :href => '#private_league_free'} Rs 0
      %a.mdl-tabs__tab.r-tab{"data-rs" => "100", "data-prize" => "175", :href => '#private_league_100'} Rs 100
      %a.mdl-tabs__tab.r-tab{"data-rs" => "250", "data-prize" => "450", :href => '#private_league_250'} Rs 250
      %a.mdl-tabs__tab.r-tab{"data-rs" => "500", "data-prize" => "900", :href => '#private_league_500'} Rs 500
      %a.mdl-tabs__tab.r-tab{"data-rs" => "1000", "data-prize" => "1750", :href => '#private_league_1000'} Rs 1000
    / #private_league_free.mdl-tabs__panel.hide
    / #private_league_100.mdl-tabs__panel.hide
    / #private_league_250.mdl-tabs__panel.hide
    / #private_league_500.mdl-tabs__panel.hide
    / #private_league_1000.mdl-tabs__panel.hide

    %p.bold.hide
      You earn INR:
      %span#earn-rs 0
    %p
      Prize amount INR:
      %span#prize-rs 0
    %p
      %span#winners-rs 1
      &nbsp;winner(s)
  .mdl-dialog__actions.text-right
    %button.mdl-button.close{:type => "button"} Close
    %button#create_private.mdl-button.mdl-button--colored{:type => "button"} Create Private League

%dialog#login-modal.mdl-dialog.dialog.mdl-shadow--16dp
  .mdl-dialog__content.text-center
    = image_tag 'icon-56.png', class: "user-pic"
    %p.bold.size-16.popup-heading Play on real-time matches, Win daily
    %p.bold.size-16.popup-heading Easy one click sign in
    = render 'authentications/providers', flow: 'login', icons: true, color: true
    %p.bold We won't post anything without your permission.
  .mdl-dialog__actions.text-right
    %button.mdl-button.close{:type => "button"} Close
