.card.no-bottom
  .pitch{style: 'background-color:rgb(250, 250, 250);'}
    = "#{l.name} Contest"
  .carded
    %div.sub_content.text-center{style: 'padding:10px'}
      %div.rupee_img
      %span= l.entry_fee
      %span Contest Fees
    %hr.rule250
    %ul.small_content.text-center{style: 'padding:10px'}
      %li.item.sub_content Total 2 winners
      %li.item First   Rank  : INR 150
      %li.item Second  Rank  : INR 100

    .carded.text-center{style: 'border-width:0;border-top: 1px solid #efefef;padding:10px;'}
      .row
        - if l.is_fake
          .col-xs-4
            %p.sub_content
              %span.rupee_img
              = l.prize_money
              Total Contest Prize 
          .col-xs-4.bdr_lt
            %p.sub_content= "#{l.fake_size} out of #{l.fake_size} teams joined" 
          .col-xs-4.bdr_lt
            %p.sub_content CLOSED
        - else
          .col-md-4.col-xs-6
            %p.sub_content
              %span.rupee_img
              = l.prize_money
              Total Contest Prize 
          .col-md-4.col-xs-6.bdr_lt
            %p.sub_content= "#{l.joined} out of #{l.limit} teams joined" 
          %a.col-md-4.col-xs-12.bdr_lt{ href: match_league_path(m,l), "data-no-turbolink" => true }
            .btn.btn-info.btn-lg.btn-block
              - if get_ut(m.id,l.id)
                EDIT YOUR TEAM
              - else
                ADD YOUR TEAM
              %i.ion-arrow-right-c
    .carded.text-center{style: 'border-width:0;border-top: 1px solid #efefef; padding:10px;'}
      = render 'layouts/fb_share', caption: "Play #{l.name} Contest on fangully.com for #{m.display_name} Match", share_url: match_league_url(m,l)

%br/