.mdl-card__menu.share_card_menu
  %button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect.share-icon-btn{"id" => "#{m.id}"}
    %i.material-icons share
  %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for: "#{m.id}"}
    %li.mdl-menu__item
      %a{:href => "//fantoss.com/m/#{m.id}"}= "fantoss.com/m/#{m.id}"
.mdl-card__title.mdl-card__title_center
  %h4.mdl-card__title-text.size-12.text-center
    = m.tournament.name
    %br/
    = m.title
%aside.mdl-row.fantoss-tour-media-card-row
  .mdl-row-clear.relative
    .fantoss-media-card.pull-left.text-center
      = image_tag(m.home_team.flag_path, alt: 'guide', class: 'team-logo')
      .team-name= m.home_team.name
      .home-team-score{style: "padding: 0;","id" => "team_#{m.home_team.api_team_id}", "data-team_name" => "#{m.home_team.name}"}
    .fantoss-media-card.pull-right.text-center
      = image_tag(m.away_team.flag_path, alt: 'guide', class: 'team-logo')
      / = image_tag m.away_team.flag_path, class: "team-logo"
      .team-name= m.away_team.name
      .away-team-score{style: "padding: 0;","id" => "team_#{m.away_team.api_team_id}", "data-team_name" => "#{m.away_team.name}"}
    .v-s vs
.mdl-card__actions.mdl-card--border.text-center
  - if m.ongoing?
    .mdl-lg--card{style: "padding: 0;","id" => "#{m.api_match_id}_0"}
      = m.ms
    .mdl-lg--card{style: "padding: 0;","id" => "#{m.api_match_id}"}

  - elsif m.starting?
    CLOSED
    .data-countdown{"data-countdown" => "#{m.start_time}", "data-starting" => "true"}
  - elsif m.completed?
    Completed
    %br/
    %small= "Match completed on #{m.match_end_time}"
  - else
    .data-countdown{"data-countdown" => "#{m.match_start_time}"}
