<!-- 
 window.HFCHAT_CONFIG = {
     EMBED_TOKEN: "3820b3e0-ea87-11e5-b06c-31843f316868",
     ACCESS_TOKEN: "045edf8a0d49469ebf4ce4a4fee61166",
     HOST_URL: "https://happyfoxchat.com",
     ASSETS_URL: "https://d1l7z5ofrj6ab8.cloudfront.net/visitor"
 };

(function() {
  var scriptTag = document.createElement('script');
  scriptTag.type = 'text/javascript';
  scriptTag.async = true;
  scriptTag.src = window.HFCHAT_CONFIG.ASSETS_URL + '/js/widget-loader.js';

  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(scriptTag, s);
})();
 -->

<!-- window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
// d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
// _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
// $.src="//v2.zopim.com/?3liVXoEZbDfgTfrrK7DTjlkEIJO3tvui";z.t=+new Date;$.
// type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

 -->
<!--Start of Zopim Live Chat Script
<script type="text/javascript">
// function zopim_chat(){
//   $('[__jx__id], embed#__zopnetworkswf').remove();
//   window.$zopim = null;
//   (function(d,s){
//     var z = $zopim = function(c){
//       z._.push(c)
//     }, $ = z.s = d.createElement(s), e = d.body.getElementsByTagName(s)[0];
//     z.set = function(o){
//       z.set._.push(o)
//     };
//     z._ = [];
//     z.set._ = [];
//     $.async = !0;
//     $.setAttribute('charset','utf-8');
//     $.src = "//v2.zopim.com/?3liVXoEZbDfgTfrrK7DTjlkEIJO3tvui";
//     z.t = +new Date;
//     $.type = 'text/javascript';
//     e.parentNode.insertBefore($,e)
//   })(document,'script');
// }

// $(document).on("ready page:load", function() {
//   zopim_chat();
// });
</script>
End of Zopim Live Chat Script-->


<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 984379318;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/984379318/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>


