%header.fantoss-header.mdl-layout__header.mdl-layout__header--waterfall.mdl-shadow--2dp.inner-page-header
  .mdl-layout__header-row
    %a.fantoss-title.mdl-layout-title{:href => "#{root_path}"}
      / %img.fantoss-logo-image{:src => asset_url("icon-56.png")}
      %img.fantoss-logo-image{:src => asset_url("logo.png")}
      %span{style: 'margin-right: -5px;'} Fan
      %span
        %strong TOSS
    .mdl-layout-spacer
    .fantoss-navigation-container
      %nav.android-navigation.mdl-navigation
        / %a#chat_right.mdl-navigation__link.mdl-typography--text-uppercase.chat-icon{:href => "javascript:$zopim.livechat.window.show();"}
        /   %i.material-icons.dp48 chat_bubble
        / %a#tt1.mdl-navigation__link.mdl-typography--text-uppercase{:href => "javascript:#friends", style: 'display:none;'}
        /   %span.join-team-icon
        / .mdl-tooltip{:for => "tt1"} Play with friends
        / .refer_earn_btn
        - if user_signed_in?
          %a.mdl-navigation__link.mdl-typography--text-uppercase{:href => "/account#live"}
            = image_tag current_user.avatar_image, alt: '', class: "player-circle", style: "border:1px solid #d2a007;"
          %a.mdl-navigation__link.mdl-typography--text-uppercase{:href => "/account", style: "color:#d2a007;"}
            = "#{current_user.wallet.total_balance} ₹"
            %i.material-icons account_balance_wallet
          /   %i.material-icons.dp36 notifications
        - else
          %a.mdl-navigation__link.mdl-typography--text-uppercase{:href => "/account", "data-mixpanel" => "HEADER refer_earn clicked", "data-turbolinks"=>"false" }
            %span.mdl-cell--hide-phone.mdl-cell--hide-tablet Refer & Earn
            %i.material-icons.dp36 supervisor_account
          .mdl-tooltip{:for => "refer_earn_btn"} How to refer & Earn?
        / %a#tt2.mdl-navigation__link.mdl-typography--text-uppercase.how-to-play-link{:href => "#", "data-mixpanel" => "HEADER howtoplay clicked", "data-turbolinks"=>"false"}
        /   %span.mdl-cell--hide-phone.mdl-cell--hide-tablet Howtoplay
        /   %i.material-icons.dp36 help_outline
        / .mdl-tooltip{:for => "tt2"} Click to see How to play in slideshow

.fantoss-drawer.mdl-layout__drawer
  - if user_signed_in?
    %span.mdl-layout-title
      = image_tag current_user.avatar_image, alt: '', class: "user-pic mdl-shadow--2dp"
      .user_name= current_user.display_name
      %hr/
      %strong= "₹ #{current_user.total_won} won"
      %br/
      = current_user.leagues.count
      contest played
      %br/
      %a.text-center{:href => "/account"}
        %strong= "Total balance: ₹ #{current_user.wallet.total_balance}"
        %br/
        = "₹ #{current_user.wallet.main_balance} wallet"
        %br/
        = "+ ₹ #{current_user.wallet.referral_balance} referral"
  - else
    %span.mdl-layout-title
      / = image_tag 'icon-56.png', class: "user-pic mdl-shadow--2dp"
      / .user_name New Challenger
      %h5
        %span{style: 'margin-right: -5px;'} Fan
        %span
          %strong TOSS

      / %br/
      - Authentication.providers.each do |provider|
        %a{:href => "/a/signup", style: 'font-weight:600;color:#29487d; background-color:#FFF; padding: 5px 15px;border-radius: 0px; display: inline-block;'} Login with Mobile number.
        %br/
        %div Play on real-time matches, Win daily
  %nav.mdl-navigation
    - if user_signed_in?
      - if current_user.is_admin?
        %a.mdl-navigation__link.seperator{:href => "javascript:#admin"} ADMIN LINKS
        = link_to I18n.t('admin.link'), admin_root_path, target: '_blank', class: "mdl-navigation__link"
        = link_to "Sidekiq", "/admin/sidekiq/jobs", target: '_blank', class: "mdl-navigation__link"
        = link_to "Upcoming Matches", "/upcomingData", target: '_blank', class: "mdl-navigation__link"
      %a.mdl-navigation__link.seperator{:href => "javascript:#account"} ACCOUNT INFO
      = link_to 'Matches Home', '/', class: "mdl-navigation__link"
      = link_to 'Old Matches', '/old', class: "mdl-navigation__link"
      = link_to I18n.t('account.edit.link'), '/account', class: "mdl-navigation__link"
      = link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow, class: "mdl-navigation__link"
    %a.mdl-navigation__link.seperator{:href => "javascript:#other"} OTHER INFO
    / %a.mdl-navigation__link.how-to-play-link{:href => "javascript:#how_to_play", "data-mixpanel" => "sidebar howtoplay clicked" } How to Play
    %a.mdl-navigation__link.points-link{:href => "/rules", "data-mixpanel" => "sidebar rules&points clicked"} Rules & Point systems
    %a.mdl-navigation__link{:href => "/account", "data-mixpanel" => "refer_earn clicked"} Refer & Earn
    %a.mdl-navigation__link{:href => "#", "data-mixpanel" => "sidebar FAQ clicked"} FAQ's
    %a.mdl-navigation__link{:href => "/disclaimer", "data-mixpanel" => "sidebar ABOUTUS clicked"} Disclaimer
    %a.mdl-navigation__link{:href => "/terms", "data-mixpanel" => "sidebar TERMS clicked"} Terms and Condition
    %a.mdl-navigation__link{:href => "/privacy", "data-mixpanel" => "sidebar PRIVACY clicked"} Privacy Policy

// .mdl-layout__drawer-right
//  #chat_container
.mdl-layout__obfuscator-right
