.col-md-4.col-xs-12.pull-left
  %label.student_bx{style: 'width:100%;padding:0;cursor:pointer;'}
    .col-md-1.col-xs-1{style: 'padding:0;'}
      %img.player_img{src: "#{player.photo_url}"}
    .col-md-8.col-xs-8
      %p.small_content
        = player.name
        %br/
        %small= player.player_category
    .col-md-2.col-xs-2.pull-right
      - is_checked = test_selection(params[:user_team], player) if params[:user_team].present?
      - is_checked = test_selection(@ut, player) if @ut.present?
      = f.check_box(:answer1, { :multiple => true, checked: is_checked, data: { text: player.name, value: player.id, photo: player.photo_url } }, player.id  )