- if msg=='SUCCESS'
  .alert.alert-dismissible.alert-success.text-center
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    Congratulations!
    Your have joined the Contest.
- elsif msg=='PENDING'
  .alert.alert-dismissible.alert-info.text-center
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    Awesome!
    You team players are saved. 
    = succeed "," do
      %a.alert-link{:href => "#"} Kindly Proceed to Pay and join the league.
    Your Payment Status is PENDING"
- else
  .question_head
    = msg
