!!!
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}/
    = display_meta_tags site: "FanTOSS.com"
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name:"mobile-web-app-capable", content:"yes" }
    %link{ rel: "apple-touch-icon", sizes: "57x57", href: "/apple-icon-57x57.png" }
    %link{ rel: "apple-touch-icon", sizes: "60x60", href: "/apple-icon-60x60.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-icon-72x72.png" }
    %link{ rel: "apple-touch-icon", sizes: "76x76", href: "/apple-icon-76x76.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-icon-114x114.png" }
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: "/apple-icon-120x120.png" }
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-icon-144x144.png" }
    %link{ rel: "apple-touch-icon", sizes: "152x152", href: "/apple-icon-152x152.png" }
    %link{ rel: "apple-touch-icon", sizes: "180x180", href: "/apple-icon-180x180.png" }
    %link{ rel: "icon", type: "image/png", sizes: "192x192", href: "/android-icon-192x192.png" }
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png" }
    %link{ rel: "icon", type: "image/png", sizes: "96x96", href: "/favicon-96x96.png" }
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png" }
    %link{ rel: "manifest", href: "/manifest.json" }
    %meta{ name:"msapplication-TileColor", content: "#ffffff" }
    %meta{ name:"msapplication-TileImage", content: "/ms-icon-144x144.png" }
    %meta{ name:"theme-color", content: "#ffffff" }

    / = favicon_link_tag 'favicon.png'

    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    /[if lt IE 9]
      = javascript_include_tag 'ie'

    = javascript_include_tag 'https://cdn.optimizely.com/js/8240983208.js'
    = javascript_include_tag 'head'

    %script{:type=>"text/javascript",:src=>"https://code.jquery.com/jquery-2.2.4.min.js", :integrity=>"sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :crossorigin=>"anonymous"}

    %script{:type=>"text/javascript",:src=>"https://wchat.freshchat.com/js/widget.js"}

    = headjs_include_tag 'application'
    = render 'layouts/ga_universal'
    / = headjs_include_tag '//www.googleadservices.com/pagead/conversion_async.js'
    / = headjs_include_tag "https://fantoss.pushengage.com/core.js"

    = csrf_meta_tags
    = yield :head

  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -if controller_name == "opera"
        = puts "opera"
      -else
        = render 'layouts/navigation'
      %section.mdl-layout__content
        / = render 'layouts/messages'
        - if flash[:alert]
          %div{style: 'background:orange;color:#feffff;text-align: center;padding: 10px'}
            = "#{ flash[:alert] }"

        - if flash[:error]
          %div{style: 'background:crimson;color:#feffff;text-align: center;padding: 10px'}
            = "#{ flash[:error] }"

        - if flash[:notice]
          %div{style: 'background:skyblue;color:#feffff;text-align: center;padding: 10px'}
            = "#{ flash[:notice] }"

        - if flash[:success]
          %div{style: 'background:green;color:#feffff;text-align: center;padding: 10px'}
            = "#{ flash[:success] }"

        = yield
        -if controller_name == "opera"
          = puts "opera"
        - else
          = render 'layouts/footer'

    = render 'layouts/how_to_play'
    = render 'layouts/analytics'
    = render 'layouts/javascripts'
    / = render 'layouts/mixpanel'
