/ -# This view is the heart of the registration page...
/ -# Multiple actions render this view

/ -# States:
/ -#    User has connected an auth provider but has not yet completed registration
/ -#    User has clicked on the Sign up link
/ -#    User submitted registration form but there was an error

/ - if resource.email.present?
/   - login_link = link_to I18n.t('auth.login.link'), add_to_url(new_user_session_path, email: resource.email)
/ - else
/   - login_link = link_to I18n.t('auth.login.link'), new_user_session_path

/ - if @failed
/   = render 'users/registrations/failed', provider: @provider
/ %br/
/ %br/

/ .container
/   .student_bx.text-center

/     - unless @auth
/       %h5= I18n.t('auth.signup.help', login_link: login_link).html_safe
/       .col-xs-12.col-md-6.col-md-offset-3
/         %br/
/         = render 'authentications/providers', flow: 'login', icons: true, color: true
/         %br/
/         %p.sub_content.textcenter OR

/     - else # @auth
/       .col-xs-12.col-md-6.col-md-offset-3
/         .uppercase
/           = render 'users/avatar', size: :thumb, user: @auth
/           .media-body.text-center
/             %h4= "Hi, #{@auth.display_name}"
/             %p
/               Not you?
/               = link_to 'Reset', destroy_user_session_path, rel: :nofollow, class: 'btn btn-default btn-xs'

/       - unless @existing_account
/         %p.text-center
/           We filled in some of your details from
/           = succeed '.' do
/             = @auth.provider_name
/           Please confirm and sign up.

/     - if @existing_account
/       -if provider = @existing_account.authentications.first.try(:provider)
/         - url = provider_auth_path(provider, flow: 'login')
/         - login_with_link = link_to I18n.t('auth.login.link_with', provider: Authentication.provider_name(provider)), url
/       - else
/         - login_with_link = login_link
/       .alert.alert-warning
/         = I18n.t('auth.signup.email_taken', login_link: login_with_link).html_safe

/     .col-xs-12.col-md-6.col-md-offset-3
/       = render 'users/registrations/form', hide_password: @auth.present?
/       = render "users/shared/links"
/ %br/
/ %br/
/ %br/
/ %br/

= render 'users/registrations/form', hide_password: @auth.present?



- content_for :on_ready do
  if(window.opener) {
  / window.opener.location.reload(true);
  window.opener.location="/a/after?flow=login"
  window.close()
  }

